<footer class="footer_section bg_default_blue text-white clearfix">
    <div class="container">

        <div class="footer_brand_area border_bottom clearfix">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="brand_logo">
                        <a href="#!">
                            <img src="/images/logo/Logo.png" srcset="/images/logo/Logo.png" alt="logo_not_found">
                        </a>
                    </div>
                </div>

                <!-- <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="brands_list">
                        <div class="logo_image">
                            <a href="#!">
                                <img src="/images/brands/img_05.png" alt="logo_not_found">
                            </a>
                        </div>

                        <div class="logo_image">
                            <a href="#!">
                                <img src="/images/brands/img_06.png" alt="logo_not_found">
                            </a>
                        </div>

                        <div class="logo_image">
                            <a href="#!">
                                <img src="/images/brands/img_07.png" alt="logo_not_found">
                            </a>
                        </div>

                        <div class="logo_image">
                            <a href="#!">
                                <img src="/images/brands/img_08.png" alt="logo_not_found">
                            </a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>

        <div class="footer_widget_area clearfix">
            <div class="row justify-content-lg-between justify-content-md-center justify-content-sm-center">
                <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
                    <div class="widget footer_useful_links">
                        <h3 class="footer_widget_title">Холбоосууд</h3>
                        <ul class="ul_li_block clearfix">
                            <li><a href="#!">Нүүр</a></li>
                            <li><a href="#!">Бидний тухай</a></li>
                            <li><a href="#!">Үйлчилгээ</a></li>
                            <li><a href="#!">Мэдээ мэдээлэл</a></li>
                            <li><a href="#!">Холбоо барих</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
                    <div class="widget footer_useful_links">
                        <h3 class="footer_widget_title">Үйлчилгээ</h3>
                        <ul class="ul_li_block clearfix">
                            <li><a href="#!">Эрдэм шинжилгээ</a></li>
                            <li><a href="#!">Бизнесийн зөвлөгөө</a></li>
                            <li><a href="#!">Ордын ТЭЗҮ</a></li>
                            <li><a href="#!">Ашиглалтын аудит</a></li>
                            <li><a href="#!">Эрсдлийн шинжилгээ</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="widget recent_works_list">
                        <h3 class="footer_widget_title">Онцлох мэдээ</h3>
                        <ul class="ul_li_block clearfix">
                            <li>
                                <div class="small_blog clearfix">
                                    <a class="item_image" target="_blank" href="#!.html">
                                        <img src="/images/recent_works/img_01.png" alt="image_not_found">
                                    </a>
                                    <div class="item_content">
                                        <h3 class="item_title">
                                            <a target="_blank" href="#!.html">
                                                Судлаач А.Түвдэндорж төрийн дээд одон Алтангадас хүртлээ
                                            </a>
                                        </h3>
                                        <span class="post_date"><i class="far fa-calendar-alt"></i> 9 May 2021</span>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="small_blog clearfix">
                                    <a class="item_image" target="_blank" href="#!.html">
                                        <img src="/images/recent_works/img_02.png" alt="image_not_found">
                                    </a>
                                    <div class="item_content">
                                        <h3 class="item_title">
                                            <a target="_blank" href="#!.html">
                                                Эрдэнэт хотын геоэкологи, гидрогеологийн сэдэвчилсэн судалгаа
                                            </a>
                                        </h3>
                                        <span class="post_date"><i class="far fa-calendar-alt"></i> 09 Jun 2021</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="widget footer_contact_form">
                        <h3 class="footer_widget_title">Холбоо барих</h3>
                        <p class="mb_30">
                            Эрдэнэс үндэсний судалгаа хөгжлийн төвөөс гаргаж буй мэдээг цаг алдалгүй хүлээн авахыг хүсвэл:
                        </p>
                        <form action="#">
                            <div class="form_item">
                                <input type="email" name="email" placeholder="Enter Your Email">
                                <button type="submit" class="submit_btn"><i class="far fa-arrow-right"></i></button>
                            </div>
                        </form>
                        <span class="footer_hotline"><i class="far fa-phone"></i>99688292</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer_bottom_boxed clearfix">
            <div class="row align-items-center justify-content-lg-between justify-content-md-between">
                <div class="col-lg-6 col-md-6">
                    <p class="copyright_text mb-0">© Copyright 2021 All Right Reserved Design By <a class="author_links" target="_blank" href="https://uizhen.tech">Uizhen Tech</a></p>
                </div>

                <div class="col-lg-6 col-md-6">
                    <ul class="circle_social_links ul_li_right clearfix">
                        <li>
                            <a class="bg_facebook" href="#!">
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a class="bg_twitter" href="#!">
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a class="bg_youtube" href="#!">
                                <i class="fab fa-youtube"></i>
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a class="bg_linkedin" href="#!">
                                <i class="fab fa-linkedin"></i>
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</footer>