
<div class="sidebar-menu-wrapper">
                <div class="sidebar_mobile_menu">
                    <span class="close_btn"><i class="fal fa-times"></i></span>
                    <div class="mobile_menu_list clearfix">
                        <ul class="ul_li_block clearfix">
                            <li><a href="index.html">Нүүр</a></li>
                                    <li><a href="about.html">Бидний тухай</a></li>
                                    <li><a href="service.html">Үйлчилгээ</a></li>
                                    <li><a href="blog.html">Мэдээ мэдээлэл</a></li>
                                    <li><a href="contact.html">Холбоо барих</a></li>
                        </ul>
                    </div>
                </div>
                <div class="overlay"></div>
</div>