		<!-- backtotop - start -->
		<div id="thetop"></div>
		<div id="backtotop">
			<a href="#" id="scroll">
				<i class="far fa-arrow-up"></i>
			</a>
		</div>
		<!-- backtotop - end -->

		<!-- preloader - start -->
		<div class="preloader">
			<div class="animation_preloader">
				<div class="spinner"></div>
				<p class="text-center">Ачааллаж байна...<div class=""></div></p>
			</div>
			<div class="loader">
				<div class="row vh-100">
					<div class="col-3 loader_section section-left">
						<div class="bg"></div>
					</div>
					<div class="col-3 loader_section section-left">
						<div class="bg"></div>
					</div>
					<div class="col-3 loader_section section-right">
						<div class="bg"></div>
					</div>
					<div class="col-3 loader_section section-right">
						<div class="bg"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- preloader - end -->


		<!-- header_section - start
		================================================== -->
		<header class="header_section sticky_header header_default clearfix">
			<div class="header_top bg_light clearfix">
				<div class="maxw_1420 container">
					<div class="row align-items-center">
						<div class="col-lg-8">
							<ul class="header_contact_info ul_li clearfix">
								<li><i class="far fa-map-marker-alt"></i>Сүхбаатар дүүрэг, Нийслэл Аудит, 402 тоот</li>
								<li><i class="far fa-phone"></i>99688292</li>
								<li><i class="far fa-envelope-open"></i>info@rdc.mn</li>
								<li><i class="far fa-clock"></i>Даваа-Баасан, 08:30-17:30</li>
							</ul>
						</div>

						<div class="col-lg-4">
							<ul class="header_items_list ul_li_right clearfix">
								<li>
									<ul class="primary_social_links ul_li clearfix">
										<!-- <li class="language_icons"><a href="#"><img width="42px" src=".//images/icons/MN.png" alt="lang"></a></li>
										<li class="language_icons"><a href="#"><img width="42px" src=".//images/icons/RU.png" alt="lang"></a></li>
										<li class="language_icons"><a href="#"><img width="42px" src=".//images/icons/EN.png" alt="lang"></a></li>
										<li class="language_icons"><a href="#"><img width="42px" src=".//images/icons/DE.png" alt="lang"></a></li> -->
										<li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></li>
										<li><a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a></li>
										<li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="header_bottom bg_default_blue">
				<div class="maxw_1420 container">
					<div class="row align-items-center">

						<div class="col-lg-3">
							<div class="brand_logo">
								<a href="/">
									<img src="../../public/images/logo/Logo.png" srcset="/images/logo/Logo.png" alt="logo_not_found">
								</a>
								<ul class="mobilemenu_btns_group ul_li_right clearfix">
								
									<li>
										<button type="button" class="mobile_menu_btn"><i class="fal fa-bars"></i></button>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-6">
							<nav class="main_menu clearfix">
								<ul class="ul_li_center clearfix">
									<li><a href="/">Нүүр</a></li>
									<li><a href="about.html">Бидний тухай</a></li>
									<li><a href="service.html">Үйлчилгээ</a></li>
									<li><a href="blog.html">Мэдээ мэдээлэл</a></li>
									<li><a href="contact.html">Холбоо барих</a></li>    
								</ul>
							</nav>
						</div>
						<div class="col-lg-3">
							<ul class="header_btns_group ul_li_right clearfix">
								<li>
									<div class="nav">
									  <label for="touch"><span class="span_color">EN</span></label>               
									  <input type="checkbox" id="touch"> 
									  <ul class="slide">
									    <li><a class="language_text" href="#">MN</a></li> 
									    <li><a class="language_text" href="#">RU</a></li>
									    <li><a class="language_text" href="#">EN</a></li>
									    <li><a class="language_text" href="#">DE</a></li>
									  </ul>
									</div> 
								</li>
								<li>
									<a class="custom_btn bg_default_blue" href="contact.html">
										ХОЛБОГДОХ 
										<span><i class="fal fa-arrow-right"></i></span>
									</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</header>