<!DOCTYPE html>
<html lang="en">

    <%- include('../includes/head.ejs') %>



	<body>

		<%- include('../includes/navigation.ejs') %>

		<!-- header_section - end
		================================================== -->


		<!-- main body - start
		================================================== -->
		<main>


			<!-- sidebar mobile menu - start
			================================================== -->
			<%- include('../includes/mobilenav.ejs') %>
			<!-- sidebar mobile menu - end
			================================================== -->


			<!-- slider_section - start
			================================================== -->
			<section class="slider_section home_three_slider clearfix">
				<div class="main_slider owl-carousel owl-theme clearfix">

					<div class="item" data-background="/images/slider/bg_1.jpg">
						<div class="container">
							<div class="row align-items-center justify-content-lg-between justify-content-md-center justify-content-sm-center">
								<div class="col-lg-5 col-md-8 col-sm-12 col-xs-12 order-last">
									<div class="slider_image">
										<img src="/images/slider/img_1.png" alt="image_not_found">
									</div>
								</div>
								<div class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
									<div class="slider_content text-white">
										<h4 class="small_title">Welcome to Erdenes National R&D Center</h4>
										<h3 class="item_title text-uppercase text-white mb-0">ЭРДЭМ ШИНЖИЛГЭЭ</h3>
										<p>
											Монгол судлаачдын эрдэм шинжилгээний өгүүлэл, судалгааны ажлыг дэлхийн жишигт хүргэх цаашид хөгжин дэвжих гүүр болох нь бидний эрхэм зорилго 
										</p>
										<ul class="btns_group ul_li clearfix">
											<li>
												<a class="custom_btn bg_default_purple" target="_blank" href="service.html">
													Дэлгэрэнгүй 
													<span><i class="fal fa-arrow-right"></i></span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item" data-background="/images/slider/bg_2.jpg">
						<div class="container">
							<div class="row align-items-center justify-content-lg-between justify-content-md-center justify-content-sm-center">
								<div class="col-lg-5 col-md-8 col-sm-12 col-xs-12 order-last">
									<div class="slider_image">
										<img src="/images/slider/img_2.png" alt="image_not_found">
									</div>
								</div>
								<div class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
									<div class="slider_content text-white">
										<h4 class="small_title">Welcome to Erdenes National R&D Center</h4>
										<h3 class="item_title text-uppercase text-white mb-0">СУРГАЛТ ЗӨВЛӨГӨӨ</h3>
										<p>
											Их дээд сургуулиа төгсөн ажил мэргэжлийн анхны гараагаа тавьж буй шинэ залуу судлаачиддаа зөвлөгөө өгөн, ажлын туршлагаасаа хуваалцахад Эрдэнэс үндэсний судалгаа хөгжлийн төв үргэлж нээлттэй
										</p>
										<ul class="btns_group ul_li clearfix">
											<li>
												<a class="custom_btn bg_default_purple" target="_blank" href="service.html">
													Дэлгэрэнгүй 
													<span><i class="fal fa-arrow-right"></i></span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item" data-background="/images/slider/bg_3.jpg">
						<div class="container">
							<div class="row align-items-center justify-content-lg-between justify-content-md-center justify-content-sm-center">
								<div class="col-lg-5 col-md-8 col-sm-12 col-xs-12 order-last">
									<div class="slider_image">
										<img src="/images/slider/img_3.png" alt="image_not_found">
									</div>
								</div>

								<div class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
									<div class="slider_content text-white">
										<h4 class="small_title">Welcome to Erdenes National R&D Center</h4>
										<h3 class="item_title text-uppercase text-white mb-0">ЧАДВАРЛАГ СУДЛААЧИД</h3>
										<p>
											Олон жилийн эрдэм шинжилгээ, ажлын туршлагатай манай судлаачид уул уурхай чиглэлийн бүх төрлийн асуудлыг шийдэн санал бодлоо уралдуулан хамгийн зөв шийдлийг гарган өгөх болно
										</p>
										<ul class="btns_group ul_li clearfix">
											<li>
												<a class="custom_btn bg_default_purple" target="_blank" href="service.html">
													Дэлгэрэнгүй 
													<span><i class="fal fa-arrow-right"></i></span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- slider_section - end
			================================================== -->


			<!-- feature_section - start
			================================================== -->
			<section class="feature_section bg_gray clearfix">
				<div class="maxw_1780 container">
					<div class="row no-gutters justify-content-lg-between">

						<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 wow fadeInUp2" data-wow-delay=".1s">
							<div class="feature_listlayout_boxed2 deco_wrap">
								<div class="item_icon">
									<img src="/images/feature/icon_01.png" alt="image_not_found">
								</div>
								<div class="item_content">
									<span class="item_type">Erdenes National R&D Center</span>
									<h3 class="item_title">Ордын ТЭЗҮ</h3>
									<p>
										Ордын хайгуул судалгаа, ашиглалт, баяжуулалт, эдийн 
										засгийн тооцоо судалгааг хийх баримт бичгийг боловсруулах.
									</p>
									<a class="text_btn" target="_blank" href="service.html">
										<span>Дэлгэрэнгүй</span>
										<i class="far fa-arrow-right"></i>
									</a>
								</div>

								<div class="deco_image shape_1">
									<img src="/images/feature/shape_01.png" alt="image_not_found">
								</div>
								<div class="deco_image shape_2">
									<img src="/images/feature/shape_02.png" alt="image_not_found">
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 wow fadeInUp2" data-wow-delay=".3s">
							<div class="feature_listlayout_boxed2 deco_wrap">
								<div class="item_icon">
									<img src="/images/feature/icon_02.png" alt="image_not_found">
								</div>
								<div class="item_content">
									<span class="item_type">Erdenes National R&D Center</span>
									<h3 class="item_title">Бизнесийн зөвлөгөө</h3>
									<p>
										Хувьцаа худалдан авах, лиценз шилжүүлэх болон хамтарсан 
										хөрөнгө оруулалтын талаар байгуулах гэрээ хэлэлцээрийн 
										төслийг боловсруулах.
									</p>
									<a class="text_btn" target="_blank" href="service.html">
										<span>Дэлгэрэнгүй</span>
										<i class="far fa-arrow-right"></i>
									</a>
								</div>

								<div class="deco_image shape_1">
									<img src="/images/feature/shape_01.png" alt="image_not_found">
								</div>
								<div class="deco_image shape_2">
									<img src="/images/feature/shape_02.png" alt="image_not_found">
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 wow fadeInUp2" data-wow-delay=".5s">
							<div class="feature_listlayout_boxed2 deco_wrap">
								<div class="item_icon">
									<img src="/images/feature/icon_03.png" alt="image_not_found">
								</div>
								<div class="item_content">
									<span class="item_type">Erdenes National R&D Center</span>
									<h3 class="item_title">Ашиглалтын аудит</h3>
									<p>
										Уурхайн ашиглалтын үеийн шалгалт, хяналтыг хийн тооцоо 
										судалгааг гаргах.
									</p>
									<a class="text_btn" target="_blank" href="service.html">
										<span>Дэлгэрэнгүй</span>
										<i class="far fa-arrow-right"></i>
									</a>
								</div>

								<div class="deco_image shape_1">
									<img src="/images/feature/shape_01.png" alt="image_not_found">
								</div>
								<div class="deco_image shape_2">
									<img src="/images/feature/shape_02.png" alt="image_not_found">
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- feature_section - end
			================================================== -->


			<!-- about_section - start
			================================================== -->
			<section class="about_section sec_ptb_130 clearfix">
				<div class="container">
					<div class="section_title text-center mb_80">
						<div class="row justify-content-center">
							<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 wow fadeInUp2" data-wow-delay=".1s">
								<h4 class="small_title">Erdenes National R&D Center</h4>
								<h2 class="big_title mb-0">
									БИДНИЙ ЭРХЭМ ЗОРИЛГО, АЛСЫН ХАРАА
								</h2>
								<span class="biggest_title">Erdenes</span>
							</div>
						</div>
					</div>

					<div class="row justify-content-lg-between justify-content-md-center justify-content-sm-center">
						<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
							<div class="about_image_2 wow fadeInUp2" data-wow-delay=".2s">
								<img src="/images/about/img_05.jpg" alt="icon_not_found">
								<a class="play_btn popup_video bg_white" href="https://www.youtube.com/watch?v=Ltu7AO7X9Is">
									<i class="fas fa-play"></i>
								</a>
							</div>
						</div>

						<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
							<div class="about_content">
								<p class="border_left_orange mb-0 wow fadeInUp2" data-wow-delay=".2s">
									Монгол улсад дэвшилтэт техник технологийн судалгаа 
									шинжилгээ, туршилтын үйлдвэрлэлийг хөгжүүлэх, оюуны багтаамж 
									өндөртэй технологийг нутагшуулах, инженерингийг хөгжүүлэх, судлаачдын 
									мэдлэг оюуныг улсын хөгжилд тус нэмэр оруулах юм. 
								</p>

								<div class="row justify-content-lg-between">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".3s">
										<div class="feature_primary_2 clearfix">
											<div class="item_icon bg_default_yellow">
												<i class="fal fa-print"></i>
											</div>
											<div class="item_content">
												<h3 class="item_title">Эрдэм шинжилгээ</h3>
												<p>
													Дотоодын болон гадаадын их<br>
													сургуулиуд, шинжлэх ухааны<br> 
													паркуудын түвшинд залуу<br> 
													судлаачдыг бэлтгэх<br>
												</p>
												<a class="text_btn" target="_blank" href="service.html"><span>Цааш үзэх</span> <i class="far fa-arrow-right"></i></a>
											</div>
										</div>
									</div>

									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".4s">
										<div class="feature_primary_2 clearfix">
											<div class="item_icon bg_default_orange">
												<i class="fal fa-laptop-code"></i>
											</div>
											<div class="item_content">
												<h3 class="item_title">Цахим шийдэл</h3>
												<p>
													Цар тахалын үе болон бусад<br>
													үед ч орчин үетэй хөл нийлүүлэн<br>
													өөрийн байгаа газраас заавар<br> 
													зөвлөгөөг цахимаар авах боломж<br>
												</p>
												<a class="text_btn" target="_blank" href="service.html"><span>Цааш үзэх</span> <i class="far fa-arrow-right"></i></a>
											</div>
										</div>
									</div>

									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".5s">
										<div class="feature_primary_2 clearfix">
											<div class="item_icon bg_default_blue">
												<i class="fal fa-cube"></i>
											</div>
											<div class="item_content">
												<h3 class="item_title">Программчлал</h3>
												<p>
													Хамгийн сүүлийн үеийн программ<br>
													хангамжийн тусламжтайгаар өндөр<br>
													нарийвчлал бүхий тооцооллыг<br>
													судалгаа нэвтрүүлэх<br>
												</p>
												<a class="text_btn" target="_blank" href="service.html"><span>Цааш үзэх</span> <i class="far fa-arrow-right"></i></a>
											</div>
										</div>
									</div>

									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".6s">
										<div class="feature_primary_2 clearfix">
											<div class="item_icon bg_default_pink">
												<i class="fal fa-cog"></i>
											</div>
											<div class="item_content">
												<h3 class="item_title">Техник технологи</h3>
												<p>
													Бүх зүйл хурдацтай хөгжиж буй энэ<br>
													зуунд дэлхийн хөгжлөөс хоцролгүй<br>
													манай орны нөхцөлд тохирох шинэ<br>
													техник технологийг нутагшуулах<br>
												</p>
												<a class="text_btn" target="_blank" href="service.html"><span>Цааш үзэх</span> <i class="far fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cricle_border">
					<img src="/images/about/circle_border.png" alt="icon_not_found">
				</div>
			</section>
			<!-- about_section - end
			================================================== -->


			<!-- service_section - start
			================================================== -->
			<!-- <section class="service_section sec_ptb_130 bg_gray clearfix">
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
							<div class="section_title text-center mb_50 wow fadeInUp2" data-wow-delay=".1s">
								<h4 class="small_title">Erdenes National R&D Center</h4>
								<h2 class="big_title mb-0">
									Уул уурхайн цогц үйлчилгээ
								</h2>
								<span class="biggest_title">Erdenes</span>
							</div>
						</div>
					</div>

					<div class="row mb_80 justify-content-lg-between justify-content-md-center justify-content-sm-center">
						<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".3s">
							<div class="service_card clearfix">
								<a class="item_image" target="_blank" href="service_details.html">
									<img src="/images/services/img_16.jpg" alt="image_not_found">
								</a>
								<div class="item_content">
									<span class="item_type">Уурхайн ашиглалт</span>
									<h3 class="item_title mb-0">Design & Branding</h3>
									<a class="icon_btn" target="_blank" href="service_details.html"><i class="fal fa-arrow-right"></i></a>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".5s">
							<div class="service_card clearfix">
								<a class="item_image" target="_blank" href="service_details.html">
									<img src="/images/services/img_17.jpg" alt="image_not_found">
								</a>
								<div class="item_content">
									<span class="item_type">Уурхайн ашиглалт</span>
									<h3 class="item_title mb-0">Logos Printing</h3>
									<a class="icon_btn" target="_blank" href="service_details.html"><i class="fal fa-arrow-right"></i></a>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".7s">
							<div class="service_card clearfix">
								<a class="item_image" target="_blank" href="service_details.html">
									<img src="/images/services/img_18.jpg" alt="image_not_found">
								</a>
								<div class="item_content">
									<span class="item_type">Design & Printing</span>
									<h3 class="item_title mb-0">T - Shirt Printing</h3>
									<a class="icon_btn" target="_blank" href="service_details.html"><i class="fal fa-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</section> -->
			<!-- service_section - end
			================================================== -->


			<!-- newsletter_section - start
			================================================== -->
			<section class="newsletter_section clearfix">
				<div class="container">

					<div class="newsletter_boxed bg_default_blue wow fadeInUp2 clearfix" data-wow-delay=".1s">
						<div class="row align-items-center justify-content-lg-between justify-content-md-center justify-content-sm-center">
							<div class="col-lg-5 col-md-6 col-sm-8 col-xs-12 text-white">
								<div class="section_title">
									<h4 class="small_title">Erdenes National R&D Center	</h4>
									<h2 class="big_title mb-0 text-white">
										Манай байгууллагын мэдээг тогтмол авахыг хүсвэл
									</h2>
									<span class="biggest_title">Erdenes</span>
								</div>
							</div>

							<div class="col-lg-7 col-md-9 col-sm-10 col-xs-12">
								<div class="newsletter_form">
									<form action="#">
										<div class="form_item mb-0">
											<input type="email" name="email" placeholder="Цахим хаягаа үлдээнэ үү...">
											<button type="submit" class="icon_btn submit_btn"><i class="fal fa-arrow-right"></i></button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- newsletter_section - end
			================================================== -->


			<!-- portfolio_section - start
			================================================== -->
			<section class="portfolio_section sec_ptb_130 clearfix">
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
							<div class="section_title text-center mb_50 wow fadeInUp2" data-wow-delay=".1s">
								<h4 class="small_title">Erdenes National R&D Center</h4>
								<h2 class="big_title mb-0">
									ЭРДЭНЭС ҮНДЭСНИЙ СУДАЛГАА ХӨГЖЛИЙН ТӨВИЙН БҮТЭЭЛҮҮД
								</h2>
								<span class="biggest_title">Erdenes</span>
							</div>
						</div>
					</div>

					<div class="portfolio_carousel w_1545 owl-carousel owl-theme wow fadeInUp2" data-wow-delay=".3s">
						<div class="item">
							<div class="portfolio_fullimage">
								<img src="/images/portfolio/carousel/img_1.jpg" alt="image_not_found">
								<!-- <div class="title_wrap">
									<h3 class="item_title mb-0">T - Shirt Printing</h3>
									<a class="icon_btn" target="_blank" href="portfolio_details.html"><i class="fal fa-arrow-right"></i></a>
								</div> -->
							</div>
						</div>

						<div class="item">
							<div class="portfolio_fullimage">
								<img src="/images/portfolio/carousel/img_2.jpg" alt="image_not_found">
								<!-- <div class="title_wrap">
									<h3 class="item_title mb-0">T - Shirt Printing</h3>
									<a class="icon_btn" target="_blank" href="portfolio_details.html"><i class="fal fa-arrow-right"></i></a>
								</div> -->
							</div>
						</div>

						<div class="item">
							<div class="portfolio_fullimage">
								<img src="/images/portfolio/carousel/img_3.png" alt="image_not_found">
								<!-- <div class="title_wrap">
									<h3 class="item_title mb-0">T - Shirt Printing</h3>
									<a class="icon_btn" target="_blank" href="portfolio_details.html"><i class="fal fa-arrow-right"></i></a>
								</div> -->
							</div>
						</div>

						<div class="item">
							<div class="portfolio_fullimage">
								<img src="/images/portfolio/carousel/img_4.png" alt="image_not_found">
								<!-- <div class="title_wrap">
									<h3 class="item_title mb-0">T - Shirt Printing</h3>
									<a class="icon_btn" target="_blank" href="portfolio_details.html"><i class="fal fa-arrow-right"></i></a>
								</div> -->
							</div>
						</div>

						<!-- <div class="item">
							<div class="portfolio_fullimage">
								<img src="/images/portfolio/carousel/img_01.jpg" alt="image_not_found">
								<div class="title_wrap">
									<h3 class="item_title mb-0">T - Shirt Printing</h3>
									<a class="icon_btn" target="_blank" href="portfolio_details.html"><i class="fal fa-arrow-right"></i></a>
								</div>
							</div>
						</div> -->

						<!-- <div class="item">
							<div class="portfolio_fullimage">
								<img src="/images/portfolio/carousel/img_02.jpg" alt="image_not_found">
								<div class="title_wrap">
									<h3 class="item_title mb-0">T - Shirt Printing</h3>
									<a class="icon_btn" target="_blank" href="portfolio_details.html"><i class="fal fa-arrow-right"></i></a>
								</div>
							</div>
						</div> -->

						<!-- <div class="item">
							<div class="portfolio_fullimage">
								<img src="/images/portfolio/carousel/img_03.jpg" alt="image_not_found">
								<div class="title_wrap">
									<h3 class="item_title mb-0">T - Shirt Printing</h3>
									<a class="icon_btn" target="_blank" href="portfolio_details.html"><i class="fal fa-arrow-right"></i></a>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="portfolio_fullimage">
								<img src="/images/portfolio/carousel/img_04.jpg" alt="image_not_found">
								s
							</div>
						</div> -->
					</div>

				</div>
			</section>
			<!-- portfolio_section - end
			================================================== -->


			<!-- faq_section - start
			================================================== -->
			<section class="faq_section bg_default_blue clearfix">
				<div class="container-fluid p-0">
					<div class="row no-gutters align-items-center justify-content-lg-between justify-content-md-center justify-content-sm-center">

						<div class="col-lg-6 col-md-7 col-sm-9 col-xs-12">
							<div class="faq_image wow fadeIn" data-wow-delay=".1s">
								<img src="/images/faqs/img_01.png" alt="image_not_found">
							</div>
						</div>

						<div class="col-lg-6 col-md-7 col-sm-9 col-xs-12">
							<div class="faq_content_wrap text-white">
								<div class="section_title mb_50 wow fadeInUp2" data-wow-delay=".2s">
									<h4 class="small_title">Erdenes National R&D Center</h4>
									<h2 class="big_title text-white mb-0">
										Түгээмэл асуудаг асуултууд:
									</h2>
									<span class="biggest_title">Erdenes</span>
								</div>

								<div id="faq_accordion" class="faq_accordion wow fadeInUp2" data-wow-delay=".3s">
									<div class="card">
										<div class="card-header" id="heading_one">
											<button data-toggle="collapse" data-target="#collapse_one" aria-expanded="true" aria-controls="collapse_one">
												Уул уурхайн чиглэлээр олон улсад бичсэн өгүүллийг хянах, стандарт оруулж өгдөг үү?
											</button>
										</div>

										<div id="collapse_one" class="collapse show" aria-labelledby="heading_one" data-parent="#faq_accordion">
											<div class="card-body">
												<p class="mb-0">
													Эрдэнэс үндэсний судалгаа хөгжлийн төвийн судлаачид болон гадаадын томоохон улсад суралцсан, мэргэжил дээшлүүлсэн эрдэмтэд мэргэжлийн зөвлөгөө өгөн бичиглэлийн шаардлага хангахаас зөв зохистой илтгэл тавих хүртэл зааварчилгааг өгнө.
												</p>
											</div>
										</div>
									</div>

									<div class="card">
										<div class="card-header" id="heading_two">
											<button class="collapsed" data-toggle="collapse" data-target="#collapse_two" aria-expanded="false" aria-controls="collapse_two">
												Уул уурхайн техник эдийн засгийн үндэслэл хийдэг үү?
											</button>
										</div>
										<div id="collapse_two" class="collapse" aria-labelledby="heading_two" data-parent="#faq_accordion">
											<div class="card-body">
												<p class="mb-0">
													Тийм. Манай байгууллага хамгийн сүүлийн үеийн техник технологийн мэдээлэл дээр суурилан туршлагатай мэргэжилтнүүдийн тооцоо судалгаанд үндэслэсэн техник эдийн засгийн үндэслэлийг боловсруулдаг.   
												</p>
											</div>
										</div>
									</div>

									<div class="card">
										<div class="card-header" id="heading_three">
											<button class="collapsed" data-toggle="collapse" data-target="#collapse_three" aria-expanded="false" aria-controls="collapse_three">
												Танай байгууллага голчлон ямар төрлийн судалгаа хийдэг вэ?
											</button>
										</div>
										<div id="collapse_three" class="collapse" aria-labelledby="heading_three" data-parent="#faq_accordion">
											<div class="card-body">
												<p class="mb-0">
													Манай судлаачид сонгогдсон бүс нутагт очин хөрс, ус, цаг уур гэх мэт бүх төрлийн орчны судалгааг хийдэг. 
												</p>
											</div>
										</div>
									</div>

									<div class="card">
										<div class="card-header" id="heading_four">
											<button class="collapsed" data-toggle="collapse" data-target="#collapse_four" aria-expanded="false" aria-controls="collapse_four">
												Судалгааны ажил хийж буй бүсдээ өөр байгууллагуудтай хамтран ажилладаг уу? 
											</button>
										</div>
										<div id="collapse_four" class="collapse" aria-labelledby="heading_four" data-parent="#faq_accordion">
											<div class="card-body">
												<p class="mb-0">
													Манай судлаачид өөрсдийн биеэр оноогдсон бүс нутагт очин дээж авах, хөрс, агаар, усны чанар зэрэг бүх төрлийн судалгааг хийхээс гадна орчин программ хангамжийн тусламжтайгаар өндөр нарийвлалтай тооцоог гаргадгаараа онцлогтой.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<!-- faq_section - end
			================================================== -->


			<!-- team_section - start
			================================================== -->
			<section class="team_section sec_ptb_130 clearfix">
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
							<div class="section_title text-center mb_30 wow fadeInUp2" data-wow-delay=".1s">
								<h4 class="small_title">Erdenes National R&D Center</h4>
								<h2 class="big_title mb-0">
									ХҮНДЭТ СУДЛААЧИД
								</h2>
								<span class="biggest_title">Erdenes</span>
							</div>
						</div>
					</div>

					<div class="row justify-content-center">
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".3s">
							<div class="team_grid">
								<div class="item_image">
									<img src="/images/team/img_1.jpg" alt="image_not_found">
								</div>
								<div class="item_content">
									<h3 class="member_name">А.Түвдэндорж</h3>
									<span class="member_title">Геологич</span>
									<ul class="square_social_links ul_li clearfix">
										<li>
											<a class="bg_default_lightblue" href="https://www.facebook.com/tuvdendorj.ayush.9">
												<i class="fab fa-facebook-f"></i>
												<i class="fab fa-facebook-f"></i>
											</a>
										<!-- </li>
										<li>
											<a class="bg_default_orange" href="#!">
												<i class="fab fa-twitter"></i>
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_yellow" href="#!">
												<i class="fab fa-youtube"></i>
												<i class="fab fa-youtube"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_purple" href="#!">
												<i class="fab fa-linkedin"></i>
												<i class="fab fa-linkedin"></i>
											</a>
										</li> -->
									</ul>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".5s">
							<div class="team_grid">
								<div class="item_image">
									<img src="/images/team/img_2.jpg" alt="image_not_found">
								</div>
								<div class="item_content">
									<h3 class="member_name">С.Дэлгэрсанаа</h3>
									<span class="member_title">Геологич</span>
									<ul class="square_social_links ul_li clearfix">
										<li>
											<a class="bg_default_lightblue" href="https://www.facebook.com/Delgersanaa">
												<i class="fab fa-facebook-f"></i>
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<!-- <li>
											<a class="bg_default_orange" href="#!">
												<i class="fab fa-twitter"></i>
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_yellow" href="#!">
												<i class="fab fa-youtube"></i>
												<i class="fab fa-youtube"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_purple" href="#!">
												<i class="fab fa-linkedin"></i>
												<i class="fab fa-linkedin"></i>
											</a>
										</li> -->
									</ul>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".7s">
							<div class="team_grid">
								<div class="item_image">
									<img src="/images/team/img_3.jpg" alt="image_not_found">
								</div>
								<div class="item_content">
									<h3 class="member_name">Ц.Эрдэнэцэцэг</h3>
									<span class="member_title">Гео Химич</span>
									<ul class="square_social_links ul_li clearfix">
										<li>
											<a class="bg_default_lightblue" href="https://www.facebook.com/tserenjantsan.erdenetsetseg">
												<i class="fab fa-facebook-f"></i>
												<i class="fab fa-facebook-f"></i>
											</a>
										<!-- <li>
											<a class="bg_default_orange" href="#!">
												<i class="fab fa-twitter"></i>
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_yellow" href="#!">
												<i class="fab fa-youtube"></i>
												<i class="fab fa-youtube"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_purple" href="#!">
												<i class="fab fa-linkedin"></i>
												<i class="fab fa-linkedin"></i>
											</a>
										</li> -->
									</ul>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".9s">
							<div class="team_grid">
								<div class="item_image">
									<img src="/images/team/img_4.jpg" alt="image_not_found">
								</div>
								<div class="item_content">
									<h3 class="member_name">Б.Тунгалаг</h3>
									<span class="member_title">Доктор</span>
									<ul class="square_social_links ul_li clearfix">
										<li>
											<a class="bg_default_lightblue" href="https://www.facebook.com/b.tungalag.b">
												<i class="fab fa-facebook-f"></i>
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<!-- <li>
											<a class="bg_default_orange" href="#!">
												<i class="fab fa-twitter"></i>
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_yellow" href="#!">
												<i class="fab fa-youtube"></i>
												<i class="fab fa-youtube"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_purple" href="#!">
												<i class="fab fa-linkedin"></i>
												<i class="fab fa-linkedin"></i>
											</a>
										</li> -->
									</ul>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</section>
			<!-- team_section - end
			================================================== -->


			<!-- funfact_section - start
			================================================== -->
			<!-- <section class="funfact_section sec_ptb_130 clearfix" data-background="/images/breadcrumb/bg_01.jpg">
				<div class="container">
					<div class="funfact_wrap">

						<div class="funfact_item text-center wow fadeInUp2" data-wow-delay=".1s">
							<div class="content_wrap">
								<div class="item_icon">
									<span class="bg_default_orange">
										<i class="fal fa-heart"></i>
									</span>
								</div>
								<strong class="counte_text" data-from="0" data-to="356435">356435</strong>
								<h3 class="item_title">Loving Customer</h3>
							</div>
						</div>

						<div class="funfact_item text-center wow fadeInUp2" data-wow-delay=".3s">
							<div class="content_wrap">
								<div class="item_icon">
									<span class="bg_default_lightblue">
										<i class="fal fa-trophy-alt"></i>
									</span>
								</div>
								<strong class="counte_text" data-from="0" data-to="653142">653142</strong>
								<h3 class="item_title">Awards Winns</h3>
							</div>
						</div>

						<div class="funfact_item text-center wow fadeInUp2" data-wow-delay=".5s">
							<div class="content_wrap">
								<div class="item_icon">
									<span class="bg_default_yellow">
										<i class="fal fa-truck"></i>
									</span>
								</div>
								<strong class="counte_text" data-from="0" data-to="485620">485620</strong>
								<h3 class="item_title">Transportations</h3>
							</div>
						</div>

						<div class="funfact_item text-center wow fadeInUp2" data-wow-delay=".7s">
							<div class="content_wrap">
								<div class="item_icon">
									<span class="bg_default_purple">
										<i class="fal fa-laptop-code"></i>
									</span>
								</div>
								<strong class="counte_text" data-from="0" data-to="475868">475868</strong>
								<h3 class="item_title">Digital Computer</h3>
							</div>
						</div>

					</div>
				</div>
			</section> -->
			<!-- funfact_section - end
			================================================== -->


			<!-- cta_section - start
			================================================== -->
			<section class="cta_section sec_ptb_130 deco_wrap clearfix" data-background="/images/breadcrumb/bg_01.jpg">
				<div class="container">
					<div class="row align-items-center justify-content-lg-start">
						<div class="col-lg-6 col-md-7 col-sm-9 col-xs-12">
							<div class="cta_content ml__30 text-white">
								<div class="section_title mb_30 wow fadeInUp2" data-wow-delay=".1s">
									<h4 class="small_title">Erdenes National R&D Center</h4>
									<h2 class="big_title mb-0 text-white">
										Сурч мэдэхийг хүссэн хүн бүрт манай байгууллага нээлттэй
									</h2>
									<span class="biggest_title">Erdenes</span>
								</div>
								<p class="mb_30 border_left_yellow text-white wow fadeInUp2" data-wow-delay=".2s">
									Шилдэг эрдэмтэн судлаачдаас заавар, зөвлөгөө авах болон олон улсад хэвлэгдэх стандарт, судалгаа шинжилгээний ажлын загварт оруулах болон баг хамт олны нэгэн хэсэг болон ажиллах бүрэн боломжтой.
								</p>
								<a class="custom_btn bg_default_yellow wow fadeInUp2" data-wow-delay=".3s" target="_blank" href="#!.html">
									ЭРДЭНЭСИЙН СУДЛААЧИД 
									<span><i class="fal fa-arrow-right"></i></span>
								</a>
							</div>
						</div>
						
					</div>
				</div>

				<div class="overlay_blue"></div>

				<!-- <div class="deco_image hand_image wow fadeInRight" data-wow-delay=".1s">
					<img src="/images/cta/shape_02.png" alt="shape_not_found">
				</div> -->
			</section>
			<!-- cta_section - end
			================================================== -->


			<!-- testimonial_section - start
			================================================== -->
			<section class="testimonial_section bg_gray clearfix">
				<div class="container-fluid p-0">
					<div class="row no-gutters align-items-center justify-content-lg-between justify-content-md-center justify-content-sm-center">

						<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 order-last">
							<div class="testimonial_image wow fadeIn" data-wow-delay=".1s">
								<img src="/images/testimonial/img_05.jpg" alt="image_not_found">
							</div>
						</div>

						<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
							<div class="testimonial_auto_wrap">
								<div class="section_title mb_30 wow fadeInUp2" data-wow-delay=".2s">
									<h4 class="small_title">Erdenes National Research and Development Center</h4>
									<h2 class="big_title mb-0">
										МАНАЙ МЭРГЭЖИЛТНҮҮД
									</h2>
									<span class="biggest_title">Erdenes</span>
								</div>

								<div class="testimonial_carousel column_1_carousel owl-carousel owl-theme wow fadeInUp2" data-wow-delay=".3s">
									<div class="item">
										<div class="testimonial_primary">
											<div class="content_wrap">
												<p class="font_24">
													Гидрогеологич инженер нь байгаль орчны 
													багийн ажилд мэргэжлийн дэмжлэг үзүүлэх, төслийн 
													усны нөөцийг үнэлэх, тайлан мэдээ бэлтгэх, усны 
													<strong>
														хяналт шинжилгээний хөтөлбөрийг удирдан зохион 
														байгуулах үүргийг хүлээн ажиллана.
													</strong>
												</p>
												<span class="quote_icon">
													<img src="/images/testimonial/quote_01.png" alt="icon_not_found">
												</span>
											</div>
											<div class="hero_info_wrap">
												<div class="hero_thumbnail">
													<img src="/images/testimonial/img_01.png" alt="icon_not_found">
												</div>
												<div class="hero_info">
													<h3 class="hero_name">Д.Энхмаа</h3>
													<span class="hero_title">Гидрогеологич</span>
												</div>
											</div>
										</div>
									</div>

									<div class="item">
										<div class="testimonial_primary">
											<div class="content_wrap">
												<p class="font_24">
													Энэ мэргэжлийн онцлог нь өдөр бүр шинэ зүйлтэй 
													учирна. Учир байгалийн баялгийг олборлоход үргэлж 
													<strong>
														харилцан адилгүй тогтоц, бүтэцтэй байх учир ийнхүү 
														өдөр бүр “өөр” зүйлстэй учирна.
													</strong>
												</p>
												<span class="quote_icon">
													<img src="/images/testimonial/quote_01.png" alt="icon_not_found">
												</span>
											</div>
											<div class="hero_info_wrap">
												<div class="hero_thumbnail">
													<img src="/images/testimonial/img_01.png" alt="icon_not_found">
												</div>
												<div class="hero_info">
													<h3 class="hero_name">С.Дэлгэрсанаа</h3>
													<span class="hero_title">Геологич</span>
												</div>
											</div>
										</div>
									</div>

									<div class="item">
										<div class="testimonial_primary">
											<div class="content_wrap">
												<p class="font_24">
													Геохимич мэргэжил нь байгалийн шинжлэх ухаанд харъяалагдах 
													бөгөөд геологи, хими хоёрыг нэгтгэсэн өнгөрөгч зууны 
													шинэ салбар юм. Бусад мэргэжлээс юугаараа онцлогтой вэ гэхээр
													<strong>
														химийн шинжлэх ухааныг геологич мэргэжилтэй нягт холбон 
														ажилладагт оршдог гэж хэлнэ.
													</strong>
												</p>
												<span class="quote_icon">
													<img src="/images/testimonial/quote_01.png" alt="icon_not_found">
												</span>
											</div>
											<div class="hero_info_wrap">
												<div class="hero_thumbnail">
													<img src="/images/testimonial/img_01.png" alt="icon_not_found">
												</div>
												<div class="hero_info">
													<h3 class="hero_name">Ц.Эрдэнэцэцэг</h3>
													<span class="hero_title">Гео-Химич</span>
												</div>
											</div>
										</div>
									</div>

									<div class="item">
										<div class="testimonial_primary">
											<div class="content_wrap">
												<p class="font_24">
													Хорин нэгдүгээр зуун гарснаар техник технологи тэр дундаа 
													программ хангамжийн салбар эрчимтэй хөгжиж эхэлсэнтэй холбогдуулан
													олон мэргэжлийн салбарт шинэчлэлт хийгдэн орчин үетэй хөл нийлүүлэн
													<strong>
														алхах болсон. Энэ өрсөлдөөнөөс хоцрохгүй үргэлж шинийг эрэлхийлэн 
														ажиллах нь миний зорилго. 
													</strong>
												</p>
												<span class="quote_icon">
													<img src="/images/testimonial/quote_01.png" alt="icon_not_found">
												</span>
											</div>
											<div class="hero_info_wrap">
												<div class="hero_thumbnail">
													<img src="/images/testimonial/img_01.png" alt="icon_not_found">
												</div>
												<div class="hero_info">
													<h3 class="hero_name">Б.Ариунзаяа</h3>
													<span class="hero_title">GIS Инженер</span>
												</div>
											</div>
										</div>
									</div>

									<!-- <div class="item">
										<div class="testimonial_primary">
											<div class="content_wrap">
												<p class="font_24">
													Sed ut perspiciatis unde omnis iste natus 
													error sit voluptatem accusantium doloremq
													ue laudantium totam rem aperiam eaqupsa quae abillo inventore veritatis et quasi arch
													itecto beatae vitae dicta sunt
													<strong>
														Accusantim dolorem laudantium totam rem aperiam eaqupsa quae abillo
													</strong>
												</p>
												<span class="quote_icon">
													<img src="/images/testimonial/quote_01.png" alt="icon_not_found">
												</span>
											</div>
											<div class="hero_info_wrap">
												<div class="hero_thumbnail">
													<img src="/images/testimonial/img_02.png" alt="icon_not_found">
												</div>
												<div class="hero_info">
													<h3 class="hero_name">Westover Charles</h3>
													<span class="hero_title">Web designer</span>
												</div>
											</div>
										</div>
									</div>

									<div class="item">
										<div class="testimonial_primary">
											<div class="content_wrap">
												<p class="font_24">
													Sed ut perspiciatis unde omnis iste natus 
													error sit voluptatem accusantium doloremq
													ue laudantium totam rem aperiam eaqupsa quae abillo inventore veritatis et quasi arch
													itecto beatae vitae dicta sunt
													<strong>
														Accusantim dolorem laudantium totam rem aperiam eaqupsa quae abillo
													</strong>
												</p>
												<span class="quote_icon">
													<img src="/images/testimonial/quote_01.png" alt="icon_not_found">
												</span>
											</div>
											<div class="hero_info_wrap">
												<div class="hero_thumbnail">
													<img src="/images/testimonial/img_03.png" alt="icon_not_found">
												</div>
												<div class="hero_info">
													<h3 class="hero_name">Westover Charles</h3>
													<span class="hero_title">Web designer</span>
												</div>
											</div>
										</div>
									</div> -->
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- testimonial_section - end
			================================================== -->


			<!-- blog_section - start
			================================================== -->
			<!-- <section class="blog_section sec_ptb_130 clearfix">
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-6 col-md-6 col-sm-9 col-xs-12">
							<div class="section_title text-center mb_50 wow fadeInUp2" data-wow-delay=".1s">
								<h4 class="small_title">Latest News & Blog</h4>
								<h2 class="big_title mb-0">
									Get More Update For News & Articles
								</h2>
								<span class="biggest_title">Blogs</span>
							</div>
						</div>
					</div>

					<div class="row justify-content-center">
						<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".3s">
							<div class="blog_grid_2">
								<a class="item_image" target="_blank" href="blog_details.html">
									<img src="/images/blog/grid/img_01.jpg" alt="image_not_found">
								</a>
								<div class="item_content">
									<a class="post_category bg_default_orange" target="_blank" href="blog_grid.html">mockup</a>
									<h3 class="item_title">
										<a target="_blank" href="blog_details.html">
											Solving Common Cross Plat Form Issues When Working With Flutter Ways
										</a>
									</h3>
								</div>
								<ul class="post_meta ul_li clearfix">
									<li><a href="#!"><i class="far fa-comments"></i> Comments (05)</a></li>
									<li><a href="#!"><i class="far fa-heart"></i> View (1k)</a></li>
								</ul>
							</div>
						</div>

						<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".5s">
							<div class="blog_grid_2">
								<a class="item_image" target="_blank" href="blog_details.html">
									<img src="/images/blog/grid/img_02.jpg" alt="image_not_found">
								</a>
								<div class="item_content">
									<a class="post_category bg_default_orange" target="_blank" href="blog_grid.html">mockup</a>
									<h3 class="item_title">
										<a target="_blank" href="blog_details.html">
											Introduction To SWR React Hooks For Remote Data Fetc Monthly Update Things
										</a>
									</h3>
								</div>
								<ul class="post_meta ul_li clearfix">
									<li><a href="#!"><i class="far fa-comments"></i> Comments (05)</a></li>
									<li><a href="#!"><i class="far fa-heart"></i> View (1k)</a></li>
								</ul>
							</div>
						</div>

						<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".7s">
							<div class="blog_grid_2">
								<a class="item_image" target="_blank" href="blog_details.html">
									<img src="/images/blog/grid/img_03.jpg" alt="image_not_found">
								</a>
								<div class="item_content">
									<a class="post_category bg_default_orange" target="_blank" href="blog_grid.html">mockup</a>
									<h3 class="item_title">
										<a target="_blank" href="blog_details.html">
											How To Run The Right Kind Of Research Study With The Double-Diamond Model
										</a>
									</h3>
								</div>
								<ul class="post_meta ul_li clearfix">
									<li><a href="#!"><i class="far fa-comments"></i> Comments (05)</a></li>
									<li><a href="#!"><i class="far fa-heart"></i> View (1k)</a></li>
								</ul>
							</div>
						</div>
					</div>
					
				</div>
			</section> -->
			<!-- blog_section - end
			================================================== -->


		</main>
		<!-- main body - end
		================================================== -->


		<!-- footer_section - start
		================================================== -->
        <%- include('../includes/end.ejs') %>

		<!-- footer_section - end
		================================================== -->

		
		<!-- fraimwork - jquery include -->
		<script src="/js/jquery-3.5.1.min.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>

		<!-- carousel - jquery include -->
        <script src="/js/owl.carousel.min.js"></script>

		<!-- mobile menu - jquery include -->
        <script src="/js/mCustomScrollbar.js"></script>

		<!-- google map - jquery include -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk2HrmqE4sWSei0XdKGbOMOHN3Mm2Bf-M&ver=2.1.6"></script>
        <script src="/js/gmaps.min.js"></script>

		<!-- nice select - jquery include -->
        <script src="/js/nice-select.min.js"></script>

		<!-- circle progress - jquery include -->
        <script src="/js/circle-progress.min.js"></script>

		<!-- magnific popup - jquery include -->
        <script src="/js/magnific-popup.min.js"></script>

        <!-- filter & masonry js -->
		<script src="/js/isotope.pkgd.js"></script>
		<script src="/js/imagesloaded.pkgd.min.js"></script>
		<script src="/js/masonry.pkgd.min.js"></script>

		<!-- counter - jquery include -->
		<script src="/js/countto.js"></script>

		<!-- pricing range - jquery include -->
		<script src="/js/jquery-ui.js"></script>

		<!-- animation - jquery include -->
		<script src="/js/parallax.min.js"></script>
		<script src="/js/wow.min.js"></script>

		<!-- custom - jquery include -->
		<script src="/js/custom.js"></script>

		
	</body>
</html>