<!DOCTYPE html>
<html lang="en">

	<%- include('../includes/head.ejs') %>


	<body>


		<!-- backtotop - start -->
		<div id="thetop"></div>
		<div id="backtotop">
			<a href="#" id="scroll">
				<i class="far fa-arrow-up"></i>
			</a>
		</div>
		<!-- backtotop - end -->

		<!-- preloader - start -->
		<div class="preloader">
			<div class="animation_preloader">
				<div class="spinner"></div>
				<p class="text-center">Loading</p>
			</div>
			<div class="loader">
				<div class="row vh-100">
					<div class="col-3 loader_section section-left">
						<div class="bg"></div>
					</div>
					<div class="col-3 loader_section section-left">
						<div class="bg"></div>
					</div>
					<div class="col-3 loader_section section-right">
						<div class="bg"></div>
					</div>
					<div class="col-3 loader_section section-right">
						<div class="bg"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- preloader - end -->


		<!-- header_section - start
		================================================== -->
		<header class="header_section sticky_header header_default clearfix">
			<div class="header_top bg_light clearfix">
				<div class="maxw_1420 container">
					<div class="row align-items-center">
						<div class="col-lg-8">
							<ul class="header_contact_info ul_li clearfix">
								<li><i class="far fa-map-marker-alt"></i>Сүхбаатар дүүрэг, Нийслэл Аудит, 402 тоот</li>
								<li><i class="far fa-phone"></i>99688292</li>
								<li><i class="far fa-envelope-open"></i>info@rdc.mn</li>
								<li><i class="far fa-clock"></i>Даваа-Баасан, 08:30-17:30</li>
							</ul>
						</div>

						<div class="col-lg-4">
							<ul class="header_items_list ul_li_right clearfix">
								<li>
									<ul class="primary_social_links ul_li clearfix">
										<li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></li>
										<li><a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a></li>
										<li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="header_bottom bg_default_blue">
				<div class="maxw_1420 container">
					<div class="row align-items-center">

						<div class="col-lg-3">
							<div class="brand_logo">
								<a href="index.html">
									<img src="assets/images/logo/Logo.png" srcset="assets/images/logo/Logo.png" alt="logo_not_found">
								</a>
								<ul class="mobilemenu_btns_group ul_li_right clearfix">
								
									<li>
										<button type="button" class="mobile_menu_btn"><i class="fal fa-bars"></i></button>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-6">
							<nav class="main_menu clearfix">
								<ul class="ul_li_center clearfix">
									<li><a href="index.html">Нүүр</a></li>
									<li><a href="about.html">Бидний тухай</a></li>
									<li><a href="service.html">Үйлчилгээ</a></li>
									<li><a href="blog.html">Мэдээ мэдээлэл</a></li>
									<li><a href="contact.html">Холбоо барих</a></li>    
								</ul>
							</nav>
						</div>
						<div class="col-lg-3">
							<ul class="header_btns_group ul_li_right clearfix">
								<li>
									<button type="button" class="action_btn search_btn bg_default_purple">
										<i class="fal fa-inbox"></i>
									</button>
								</li>
								<li>
									<a class="custom_btn bg_default_blue" href="contact.html">
										ХОЛБОГДОХ 
										<span><i class="fal fa-arrow-right"></i></span>
									</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</header>
		<!-- header_section - end
		================================================== -->


		<!-- main body - start
		================================================== -->
		<main>


			<!-- sidebar mobile menu - start
			================================================== -->
			<div class="sidebar-menu-wrapper">
				<div class="sidebar_mobile_menu">
					<span class="close_btn"><i class="fal fa-times"></i></span>
					<div class="mobile_menu_list clearfix">
						<ul class="ul_li_block clearfix">
							<li><a href="index.html">Нүүр</a></li>
									<li><a href="about.html">Бидний тухай</a></li>
									<li><a href="service.html">Үйлчилгээ</a></li>
									<li><a href="blog.html">Мэдээ мэдээлэл</a></li>
									<li><a href="contact.html">Холбоо барих</a></li>   
						</ul>
					</div>
				</div>
				<div class="overlay"></div>
			</div>
			<!-- sidebar mobile menu - end
			================================================== -->


			<!-- breadcrumb_section - start
			================================================== -->
			<section class="breadcrumb_section d-flex align-items-center clearfix" data-background="assets/images/breadcrumb/bg_01.jpg">
				<div class="container">
					<div class="row align-items-center justify-content-lg-between">
						<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-delay=".1s">
							<h1 class="page_title mb-0">Team Member</h1>
						</div>

						<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay=".1s">
							<ul class="breadcrumb_nav ul_li_right clearfix">
								<li><a href="index.html">Home</a></li>
								<li>Team Member</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- breadcrumb_section - end
			================================================== -->


			<!-- skill_section - start
			================================================== -->
			<section class="team_section sec_ptb_130 pb-0 clearfix">
				<div class="container">
					<div class="row mt__30 justify-content-center">

						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".1s">
							<div class="team_grid">
								<div class="item_image">
									<img src="assets/images/team/img_01.jpg" alt="image_not_found">
								</div>
								<div class="item_content">
									<h3 class="member_name">Myron L. Boykin</h3>
									<span class="member_title">Web Designer</span>
									<ul class="square_social_links ul_li clearfix">
										<li>
											<a class="bg_default_lightblue" href="#!">
												<i class="fab fa-facebook-f"></i>
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_orange" href="#!">
												<i class="fab fa-twitter"></i>
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_yellow" href="#!">
												<i class="fab fa-youtube"></i>
												<i class="fab fa-youtube"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_purple" href="#!">
												<i class="fab fa-linkedin"></i>
												<i class="fab fa-linkedin"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".3s">
							<div class="team_grid">
								<div class="item_image">
									<img src="assets/images/team/img_02.jpg" alt="image_not_found">
								</div>
								<div class="item_content">
									<h3 class="member_name">Manuel M. Brode</h3>
									<span class="member_title">Senior Developer</span>
									<ul class="square_social_links ul_li clearfix">
										<li>
											<a class="bg_default_lightblue" href="#!">
												<i class="fab fa-facebook-f"></i>
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_orange" href="#!">
												<i class="fab fa-twitter"></i>
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_yellow" href="#!">
												<i class="fab fa-youtube"></i>
												<i class="fab fa-youtube"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_purple" href="#!">
												<i class="fab fa-linkedin"></i>
												<i class="fab fa-linkedin"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".5s">
							<div class="team_grid">
								<div class="item_image">
									<img src="assets/images/team/img_03.jpg" alt="image_not_found">
								</div>
								<div class="item_content">
									<h3 class="member_name">Frank E. Stuber</h3>
									<span class="member_title">Web Designer</span>
									<ul class="square_social_links ul_li clearfix">
										<li>
											<a class="bg_default_lightblue" href="#!">
												<i class="fab fa-facebook-f"></i>
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_orange" href="#!">
												<i class="fab fa-twitter"></i>
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_yellow" href="#!">
												<i class="fab fa-youtube"></i>
												<i class="fab fa-youtube"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_purple" href="#!">
												<i class="fab fa-linkedin"></i>
												<i class="fab fa-linkedin"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".7s">
							<div class="team_grid">
								<div class="item_image">
									<img src="assets/images/team/img_04.jpg" alt="image_not_found">
								</div>
								<div class="item_content">
									<h3 class="member_name">Miguel D. Vegaen</h3>
									<span class="member_title">Web Designer</span>
									<ul class="square_social_links ul_li clearfix">
										<li>
											<a class="bg_default_lightblue" href="#!">
												<i class="fab fa-facebook-f"></i>
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_orange" href="#!">
												<i class="fab fa-twitter"></i>
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_yellow" href="#!">
												<i class="fab fa-youtube"></i>
												<i class="fab fa-youtube"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_purple" href="#!">
												<i class="fab fa-linkedin"></i>
												<i class="fab fa-linkedin"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".1s">
							<div class="team_grid">
								<div class="item_image">
									<img src="assets/images/team/img_05.jpg" alt="image_not_found">
								</div>
								<div class="item_content">
									<h3 class="member_name">Myron L. Boykin</h3>
									<span class="member_title">Web Designer</span>
									<ul class="square_social_links ul_li clearfix">
										<li>
											<a class="bg_default_lightblue" href="#!">
												<i class="fab fa-facebook-f"></i>
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_orange" href="#!">
												<i class="fab fa-twitter"></i>
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_yellow" href="#!">
												<i class="fab fa-youtube"></i>
												<i class="fab fa-youtube"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_purple" href="#!">
												<i class="fab fa-linkedin"></i>
												<i class="fab fa-linkedin"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".3s">
							<div class="team_grid">
								<div class="item_image">
									<img src="assets/images/team/img_06.jpg" alt="image_not_found">
								</div>
								<div class="item_content">
									<h3 class="member_name">Manuel M. Brode</h3>
									<span class="member_title">Senior Developer</span>
									<ul class="square_social_links ul_li clearfix">
										<li>
											<a class="bg_default_lightblue" href="#!">
												<i class="fab fa-facebook-f"></i>
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_orange" href="#!">
												<i class="fab fa-twitter"></i>
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_yellow" href="#!">
												<i class="fab fa-youtube"></i>
												<i class="fab fa-youtube"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_purple" href="#!">
												<i class="fab fa-linkedin"></i>
												<i class="fab fa-linkedin"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".5s">
							<div class="team_grid">
								<div class="item_image">
									<img src="assets/images/team/img_07.jpg" alt="image_not_found">
								</div>
								<div class="item_content">
									<h3 class="member_name">Frank E. Stuber</h3>
									<span class="member_title">Web Designer</span>
									<ul class="square_social_links ul_li clearfix">
										<li>
											<a class="bg_default_lightblue" href="#!">
												<i class="fab fa-facebook-f"></i>
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_orange" href="#!">
												<i class="fab fa-twitter"></i>
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_yellow" href="#!">
												<i class="fab fa-youtube"></i>
												<i class="fab fa-youtube"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_purple" href="#!">
												<i class="fab fa-linkedin"></i>
												<i class="fab fa-linkedin"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".7s">
							<div class="team_grid">
								<div class="item_image">
									<img src="assets/images/team/img_08.jpg" alt="image_not_found">
								</div>
								<div class="item_content">
									<h3 class="member_name">Miguel D. Vegaen</h3>
									<span class="member_title">Web Designer</span>
									<ul class="square_social_links ul_li clearfix">
										<li>
											<a class="bg_default_lightblue" href="#!">
												<i class="fab fa-facebook-f"></i>
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_orange" href="#!">
												<i class="fab fa-twitter"></i>
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_yellow" href="#!">
												<i class="fab fa-youtube"></i>
												<i class="fab fa-youtube"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_purple" href="#!">
												<i class="fab fa-linkedin"></i>
												<i class="fab fa-linkedin"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- skill_section - end
			================================================== -->


			<!-- skill_section - start
			================================================== -->
			<section class="skill_section sec_ptb_130 clearfix">
				<div class="container">
					<div class="row mt__50 justify-content-center">
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".1s">
							<div class="circle_progress_item">
								<div class="orange_printing_bar circle_progress">
									<strong class="percentage_text"></strong>
								</div>
								<h4 class="item_title">Printing & Design</h4>
								<p class="mb-0">
									Sed ut perspiciatis unde omnis
									natus error sit voluptatem
								</p>
							</div>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".3s">
							<div class="circle_progress_item">
								<div class="yellow_branding_bar circle_progress">
									<strong class="percentage_text"></strong>
								</div>
								<h4 class="item_title">Design & Branding</h4>
								<p class="mb-0">
									Sed ut perspiciatis unde omnis
									natus error sit voluptatem
								</p>
							</div>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".5s">
							<div class="circle_progress_item">
								<div class="blue_logo_bar circle_progress">
									<strong class="percentage_text"></strong>
								</div>
								<h4 class="item_title">Logo Printing</h4>
								<p class="mb-0">
									Sed ut perspiciatis unde omnis
									natus error sit voluptatem
								</p>
							</div>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".7s">
							<div class="circle_progress_item">
								<div class="purple_tshart_bar circle_progress">
									<strong class="percentage_text"></strong>
								</div>
								<h4 class="item_title">T - Shirt Printing</h4>
								<p class="mb-0">
									Sed ut perspiciatis unde omnis
									natus error sit voluptatem
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- skill_section - end
			================================================== -->


			<!-- faqcontact_section - start
			================================================== -->
			<section class="faqcontact_section bg_gray clearfix">
				<div class="container-fluid p-0">
					<div class="row no-gutters align-items-center justify-content-lg-between justify-content-md-center justify-content-sm-center">

						<div class="col-lg-6 col-md-7 col-sm-9 col-xs-12">
							<div class="faq_image wow fadeIn" data-wow-delay=".1s">
								<img src="assets/images/contact/img_01.jpg" alt="image_not_found">
							</div>
						</div>

						<div class="col-lg-6 col-md-7 col-sm-9 col-xs-12">
							<div class="faq_contact_form">
								<div class="section_title mb_50 wow fadeInUp2" data-wow-delay=".1s">
									<h4 class="small_title">Leave A Message</h4>
									<h2 class="big_title mb-0">
										Have Any Questions For Printing ?
									</h2>
									<span class="biggest_title">Know</span>
								</div>

								<form action="#">
									<div class="form_item wow fadeInUp2" data-wow-delay=".2s">
										<input id="full_name" type="text" name="name" placeholder="Your Full Name">
										<label class="input_icon" for="full_name"><i class="far fa-user"></i></label>
									</div>
									<div class="form_item wow fadeInUp2" data-wow-delay=".3s">
										<input id="email_address" type="email" name="email" placeholder="Your Email Address">
										<label class="input_icon" for="email_address"><i class="far fa-envelope-open"></i></label>
									</div>
									<div class="select_option wow fadeInUp2" data-wow-delay=".4s">
										<select>
											<option data-display="Subject">Select A Option</option>
											<option value="1">Option 1</option>
											<option value="2">Option 2</option>
											<option value="3">Option 3</option>
											<option value="4">Option 4</option>
										</select>
									</div>
									<div class="form_item wow fadeInUp2" data-wow-delay=".5s">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
									<button type="submit" class="custom_btn bg_default_orange wow fadeInUp2" data-wow-delay=".6s">
										send message
										<span><i class="fal fa-arrow-right"></i></span>
									</button>
								</form>
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<!-- faqcontact_section - end
			================================================== -->


		</main>
		<!-- main body - end
		================================================== -->


		<!-- footer_section - start
		================================================== -->
		<footer class="footer_section bg_default_blue text-white clearfix">
			<div class="container">

				<div class="footer_brand_area border_bottom clearfix">
					<div class="row align-items-center justify-content-lg-between">
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<div class="brand_logo">
								<a href="#!">
									<img src="assets/images/logo/logo_01_1x.png" srcset="assets/images/logo/logo_01_2x.png 2x" alt="logo_not_found">
								</a>
							</div>
						</div>

						<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
							<div class="brands_list">
								<div class="logo_image">
									<a href="#!">
										<img src="assets/images/brands/img_05.png" alt="logo_not_found">
									</a>
								</div>

								<div class="logo_image">
									<a href="#!">
										<img src="assets/images/brands/img_06.png" alt="logo_not_found">
									</a>
								</div>

								<div class="logo_image">
									<a href="#!">
										<img src="assets/images/brands/img_07.png" alt="logo_not_found">
									</a>
								</div>

								<div class="logo_image">
									<a href="#!">
										<img src="assets/images/brands/img_08.png" alt="logo_not_found">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="footer_widget_area clearfix">
					<div class="row justify-content-lg-between justify-content-md-center justify-content-sm-center">
						<div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
							<div class="widget footer_useful_links">
								<h3 class="footer_widget_title">Quick Links</h3>
								<ul class="ul_li_block clearfix">
									<li><a href="#!">Company History</a></li>
									<li><a href="#!">Exclusive Team </a></li>
									<li><a href="#!">Latest News</a></li>
									<li><a href="#!">Recent Product</a></li>
									<li><a href="#!">Win Awards</a></li>
								</ul>
							</div>
						</div>

						<div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
							<div class="widget footer_useful_links">
								<h3 class="footer_widget_title">Services</h3>
								<ul class="ul_li_block clearfix">
									<li><a href="#!">Design & Branding</a></li>
									<li><a href="#!">3D Design & Printing</a></li>
									<li><a href="#!">Offset Printing</a></li>
									<li><a href="#!">Business Printing</a></li>
									<li><a href="#!">Corporate Printing</a></li>
								</ul>
							</div>
						</div>

						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<div class="widget recent_works_list">
								<h3 class="footer_widget_title">Recent News</h3>
								<ul class="ul_li_block clearfix">
									<li>
										<div class="small_blog clearfix">
											<a class="item_image" target="_blank" href="blog_details.html">
												<img src="assets/images/recent_works/img_01.png" alt="image_not_found">
											</a>
											<div class="item_content">
												<h3 class="item_title">
													<a target="_blank" href="blog_details.html">
														Web Designers Can Help Restaura Move Into
													</a>
												</h3>
												<span class="post_date"><i class="far fa-calendar-alt"></i> 25 Nov 2020</span>
											</div>
										</div>
									</li>

									<li>
										<div class="small_blog clearfix">
											<a class="item_image" target="_blank" href="blog_details.html">
												<img src="assets/images/recent_works/img_02.png" alt="image_not_found">
											</a>
											<div class="item_content">
												<h3 class="item_title">
													<a target="_blank" href="blog_details.html">
														Building Facial Recognits Web Application React
													</a>
												</h3>
												<span class="post_date"><i class="far fa-calendar-alt"></i> 25 Nov 2020</span>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>

						<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
							<div class="widget footer_contact_form">
								<h3 class="footer_widget_title">Contact Us</h3>
								<p class="mb_30">
									Sed ut persiatis unde omnis iste natusec error sit voluptatem accusantium
								</p>
								<form action="#">
									<div class="form_item">
										<input type="email" name="email" placeholder="Enter Your Email">
										<button type="submit" class="submit_btn"><i class="far fa-arrow-right"></i></button>
									</div>
								</form>
								<span class="footer_hotline"><i class="far fa-phone"></i> +012 (345) 678 99</span>
							</div>
						</div>
					</div>
				</div>

				<div class="footer_bottom_boxed clearfix">
					<div class="row align-items-center justify-content-lg-between justify-content-md-between">
						<div class="col-lg-6 col-md-6">
							<p class="copyright_text mb-0">© Copyright 2020 All Right Reserved Design By <a class="author_links" target="_blank" href="https://themeforest.net/user/bdevs">BDevs</a></p>
						</div>

						<div class="col-lg-6 col-md-6">
							<ul class="circle_social_links ul_li_right clearfix">
								<li>
									<a class="bg_facebook" href="#!">
										<i class="fab fa-facebook-f"></i>
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a class="bg_twitter" href="#!">
										<i class="fab fa-twitter"></i>
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a class="bg_youtube" href="#!">
										<i class="fab fa-youtube"></i>
										<i class="fab fa-youtube"></i>
									</a>
								</li>
								<li>
									<a class="bg_linkedin" href="#!">
										<i class="fab fa-linkedin"></i>
										<i class="fab fa-linkedin"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
			</div>
		</footer>
		<!-- footer_section - end
		================================================== -->

		
		<!-- fraimwork - jquery include -->
		<script src="assets/js/jquery-3.5.1.min.js"></script>
		<script src="assets/js/popper.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>

		<!-- carousel - jquery include -->
        <script src="assets/js/owl.carousel.min.js"></script>

		<!-- mobile menu - jquery include -->
        <script src="assets/js/mCustomScrollbar.js"></script>

		<!-- google map - jquery include -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk2HrmqE4sWSei0XdKGbOMOHN3Mm2Bf-M&ver=2.1.6"></script>
        <script src="assets/js/gmaps.min.js"></script>

		<!-- nice select - jquery include -->
        <script src="assets/js/nice-select.min.js"></script>

		<!-- circle progress - jquery include -->
        <script src="assets/js/circle-progress.min.js"></script>

		<!-- magnific popup - jquery include -->
        <script src="assets/js/magnific-popup.min.js"></script>

        <!-- filter & masonry js -->
		<script src="assets/js/isotope.pkgd.js"></script>
		<script src="assets/js/imagesloaded.pkgd.min.js"></script>
		<script src="assets/js/masonry.pkgd.min.js"></script>

		<!-- counter - jquery include -->
		<script src="assets/js/countto.js"></script>

		<!-- pricing range - jquery include -->
		<script src="assets/js/jquery-ui.js"></script>

		<!-- animation - jquery include -->
		<script src="assets/js/parallax.min.js"></script>
		<script src="assets/js/wow.min.js"></script>

		<!-- custom - jquery include -->
		<script src="assets/js/custom.js"></script>

		
	</body>
</html>