<!DOCTYPE html>
<html lang="en">

	<%- include('../includes/head.ejs') %>


	<body>


		<!-- backtotop - start -->
		<%- include('../includes/navigation.ejs') %>
		<!-- header_section - end
		================================================== -->


		<!-- main body - start
		================================================== -->
		<main>


			<!-- sidebar mobile menu - start
			================================================== -->
			<%- include('../includes/mobilenav.ejs') %>
			<!-- sidebar mobile menu - end
			================================================== -->


			<!-- breadcrumb_section - start
			================================================== -->
			<section class="breadcrumb_section d-flex align-items-center clearfix" data-background="/images/breadcrumb/bg_01.jpg">
				<div class="container">
					<div class="row align-items-center justify-content-lg-between">
						<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-delay=".1s">
							<h1 class="page_title mb-0">БИДНИЙ ТУХАЙ</h1>
						</div>

						<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay=".1s">
							<ul class="breadcrumb_nav ul_li_right clearfix">
								<li><a href="index.html">НҮҮР</a></li>
								<li>БИДНИЙ ТУХАЙ</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- breadcrumb_section - end
			================================================== -->


			<!-- about_section - start
			================================================== -->
			<section class="about_section sec_ptb_130 clearfix">
				<div class="container">
					<div class="row justify-content-lg-between justify-content-md-center justify-content-sm-center">

						<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
							<div class="about_image_1 wow fadeInUp2" data-wow-delay=".1s">
								<img src="/images/about/img_01.png" alt="image_not_found">
							</div>
						</div>

						<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
							<div class="about_content">
								<div class="section_title wow fadeInUp2" data-wow-delay=".1s">
									<h4 class="small_title">Erdenes Research and Development Center LLC</h4>
									<h2 class="big_title mb-0">
										ЭРХЭМ ЗОРИЛГО
									</h2>
									<span class="biggest_title">Erdenes</span>
								</div>

								<p class="wow fadeInUp2" data-wow-delay=".2s">
									<span>
										Монгол улсын уул уурхайн салбарт дэлхийд шинээр гарч<br>
										буй техник технологийг судлан нутагшуулах нутагшуулах<br>
										болон шинээр төрөн гарч буй залуу эрдэмтэн судлаачдын<br>
										бүтээлийг дэлхий нийтэд хүргэх гүүр болон ажиллах юм.<br>
									</span>
								</p>
								<p class="mb-0 wow fadeInUp2" data-wow-delay=".3s">
									Эрдэм шинжилгээ, судалгаа, шинжлэх ухааны өгүүлэл бичихэд<br>
									нэн тэргүүнд чадварлаг багш, зөвлөх хэрэг болдог. Мэргэжлийн<br>
									хүнтэй зөвлөлдөх, туршлага солилцох замаар дэлхийн тавцанд<br>
									гарсан чанартай бүтээл төрөх бөгөөд ирээдүйн ажлын хамтрагчаа<br>
									олох сайхан боломж бүрдэх юм.<br>					
								</p>

								<div class="row wow fadeInUp2" data-wow-delay=".4s">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="about_certificate clearfix">
											<div class="item_icon">
												<img src="/images/about/reward.png" alt="iso_not_found">
											</div>
											<div class="item_content">
												<h3 class="item_title">ЭРДЭМ ШИНЖИЛГЭЭ</h3>
												<p>
													Нээлт хийх, өөрийн толгойд буй санааг ажил болгон буулгах
												</p>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="about_certificate clearfix">
											<div class="item_icon">
												<img src="/images/about/reward1.png" alt="iso_not_found">
											</div>
											<div class="item_content">
												<h3 class="item_title">СУДАЛГАА</h3>
												<p>
													Өөрийн салбарын дутуу танигдсан зүйлийг гүнзгийрүүлэн судлах
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<!-- about_section - end
			================================================== -->


			<!-- service_section - start
			================================================== -->
			<section class="service_section sec_ptb_130 bg_gray clearfix">
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-8 col-md-9 col-sm-12 col-xs-12">
							<div class="section_title text-center mb_30 wow fadeInUp2" data-wow-delay=".1s">
								<h4 class="small_title">Erdenes Research and Development Center LLC</h4>
								<h2 class="big_title mb-0">
									БИДЭНТЭЙ ХАМТРАН АЖИЛЛАСНААР
								</h2>
								<span class="biggest_title">Erdenes</span>
							</div>
						</div>
					</div>

					<div class="row justify-content-center">
						<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".3s">
							<div class="service_grid">
								<div class="item_image">
									<img src="/images/services/img_01.jpg" alt="image_not_found">
								</div>
								<div class="item_content">
									<h3 class="item_title">ЧАДВАРЛАГ СУДЛААЧИД</h3>
									<p>
										Олон улсад мэргэжил дээшлүүлэн, эрдмийн ажлаа хэвлүүлж байсан туршлага эрдэмтэн судлаачид та бүхэнд туслахад бэлэн
									</p>
									<a class="icon_btn" target="_blank" href="service.html"><i class="fal fa-arrow-right"></i></a>
									<span class="bg_icon">
										<img src="/images/services/bg_icon.png" alt="icon_not_found">
									</span>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".5s">
							<div class="service_grid">
								<div class="item_image">
									<img src="/images/services/img_02.jpg" alt="image_not_found">
								</div>
								<div class="item_content">
									<h3 class="item_title">ЦОГЦ <br> ҮЙЛЧИЛГЭЭ</h3>
									<p>
										Уул уурхайн нээлтээс хаалт хүртэл тооцоог чанарын өндөр түвшинд, найдвартай, хурдан шуурхай ТЭЗҮ болгон таны гарт хүргэнэ
									</p>
									<a class="icon_btn" target="_blank" href="service.html"><i class="fal fa-arrow-right"></i></a>
									<span class="bg_icon">
										<img src="/images/services/bg_icon.png" alt="icon_not_found">
									</span>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".7s">
							<div class="service_grid">
								<div class="item_image">
									<img src="/images/services/img_03.jpg" alt="image_not_found">
								</div>
								<div class="item_content">
									<h3 class="item_title">ГАДААД <br> ХАРИЛЦАА</h3>
									<p>
										Олон улсад өөрийн судалгаа шинжилгээний ажлыг нийтлэх, хэвлүүлэхэд тулгарах асуудлыг шийдэхэд бид таньд туслана
									</p>
									<a class="icon_btn" target="_blank" href="service.html"><i class="fal fa-arrow-right"></i></a>
									<span class="bg_icon">
										<img src="/images/services/bg_icon.png" alt="icon_not_found">
									</span>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</section>
			<!-- service_section - end
			================================================== -->


			<!-- team_section - start
			================================================== -->
			<section class="team_section sec_ptb_130 clearfix">
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
							<div class="section_title text-center mb_30 wow fadeInUp2" data-wow-delay=".1s">
								<h4 class="small_title">Erdenes Research and Development Center LLC</h4>
								<h2 class="big_title mb-0">
									ЭРДЭНЭСИЙН ЗАЛУУ СУДЛААЧИД
								</h2>
								<span class="biggest_title">Erdenes</span>
							</div>
						</div>
					</div>

					<div class="row justify-content-center">
						<div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 wow fadeInUp2" data-wow-delay=".3s">
							<div class="team_grid">
								<div class="item_image">
									<img src="/images/team/img_01.jpg" alt="image_not_found">
								</div>
								<div class="item_content">
									<h3 class="member_name">С.Дэлгэрсанаа</h3>
									<span class="member_title">Геологич</span>
									<ul class="square_social_links ul_li clearfix">
										<li>
											<a class="bg_default_lightblue" href="https://www.facebook.com/Delgersanaa">
												<i class="fab fa-facebook-f"></i>
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<!-- <li>
											<a class="bg_default_orange" href="#!">
												<i class="fab fa-twitter"></i>
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_yellow" href="#!">
												<i class="fab fa-youtube"></i>
												<i class="fab fa-youtube"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_purple" href="#!">
												<i class="fab fa-linkedin"></i>
												<i class="fab fa-linkedin"></i>
											</a>
										</li> -->
									</ul>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 wow fadeInUp2" data-wow-delay=".5s">
							<div class="team_grid">
								<div class="item_image">
									<img src="/images/team/img_02.jpg" alt="image_not_found">
								</div>
								<div class="item_content">
									<h3 class="member_name">Д.Энхмаа</h3>
									<span class="member_title">Гидрогеологич</span>
									<ul class="square_social_links ul_li clearfix">
										<li>
											<a class="bg_default_lightblue" href="https://www.facebook.com/enkhmaa.ema.3">
												<i class="fab fa-facebook-f"></i>
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<!-- <li>
											<a class="bg_default_orange" href="#!">
												<i class="fab fa-twitter"></i>
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_yellow" href="#!">
												<i class="fab fa-youtube"></i>
												<i class="fab fa-youtube"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_purple" href="#!">
												<i class="fab fa-linkedin"></i>
												<i class="fab fa-linkedin"></i>
											</a>
										</li> -->
									</ul>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 wow fadeInUp2" data-wow-delay=".7s">
							<div class="team_grid">
								<div class="item_image">
									<img src="/images/team/img_03.jpg" alt="image_not_found">
								</div>
								<div class="item_content">
									<h3 class="member_name">Б.Ариунзаяа</h3>
									<span class="member_title">GIS инженер</span>
									<ul class="square_social_links ul_li clearfix">
										<li>
											<a class="bg_default_lightblue" href="https://www.facebook.com/ariunzaya.batsaihan">
												<i class="fab fa-facebook-f"></i>
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<!-- <li>
											<a class="bg_default_orange" href="#!">
												<i class="fab fa-twitter"></i>
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_yellow" href="#!">
												<i class="fab fa-youtube"></i>
												<i class="fab fa-youtube"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_purple" href="#!">
												<i class="fab fa-linkedin"></i>
												<i class="fab fa-linkedin"></i>
											</a>
										</li> -->
									</ul>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 wow fadeInUp2" data-wow-delay=".9s">
							<div class="team_grid">
								<div class="item_image">
									<img src="/images/team/img_04.jpg" alt="image_not_found">
								</div>
								<div class="item_content">
									<h3 class="member_name">А.Бадамгарав</h3>
									<span class="member_title">Гидрогеологич</span>
									<ul class="square_social_links ul_li clearfix">
										<li>
											<a class="bg_default_lightblue" href="https://www.facebook.com/thue.thoe">
												<i class="fab fa-facebook-f"></i>
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<!-- <li>
											<a class="bg_default_orange" href="#!">
												<i class="fab fa-twitter"></i>
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_yellow" href="#!">
												<i class="fab fa-youtube"></i>
												<i class="fab fa-youtube"></i>
											</a>
										</li>
										<li>
											<a class="bg_default_purple" href="#!">
												<i class="fab fa-linkedin"></i>
												<i class="fab fa-linkedin"></i>
											</a>
										</li> -->
									</ul>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</section>
			<!-- team_section - end
			================================================== -->


			<!-- faq_section - start
			================================================== -->
			<section class="faq_section bg_default_blue clearfix">
				<div class="container-fluid p-0">
					<div class="row no-gutters align-items-center justify-content-lg-between justify-content-md-center justify-content-sm-center">

						<div class="col-lg-6 col-md-7 col-sm-9 col-xs-12">
							<div class="faq_image wow fadeIn" data-wow-delay=".1s">
								<img src="/images/faqs/img_01.png" alt="image_not_found">
							</div>
						</div>

						<div class="col-lg-6 col-md-7 col-sm-9 col-xs-12">
							<div class="faq_content_wrap text-white">
								<div class="section_title mb_50 wow fadeInUp2" data-wow-delay=".3s">
									<h4 class="small_title">Erdenes National R&D Center</h4>
									<h2 class="big_title text-white mb-0">
										Түгээмэл асуудаг асуултууд:
									</h2>
									<span class="biggest_title">Erdenes</span>
								</div>

								<div id="faq_accordion" class="faq_accordion wow fadeInUp2" data-wow-delay=".4s">
									<div class="card">
										<div class="card-header" id="heading_one">
											<button data-toggle="collapse" data-target="#collapse_one" aria-expanded="true" aria-controls="collapse_one">
												Уул уурхайн чиглэлээр олон улсад бичсэн өгүүллийг хянах, стандарт оруулж өгдөг үү?
											</button>
										</div>

										<div id="collapse_one" class="collapse show" aria-labelledby="heading_one" data-parent="#faq_accordion">
											<div class="card-body">
												<p class="mb-0">
													Эрдэнэс үндэсний судалгаа хөгжлийн төвийн судлаачид болон гадаадын томоохон улсад суралцсан, мэргэжил дээшлүүлсэн эрдэмтэд мэргэжлийн зөвлөгөө өгөн бичиглэлийн шаардлага хангахаас зөв зохистой илтгэл тавих хүртэл зааварчилгааг өгнө.
											</div>
										</div>
									</div>

									<div class="card">
										<div class="card-header" id="heading_two">
											<button class="collapsed" data-toggle="collapse" data-target="#collapse_two" aria-expanded="false" aria-controls="collapse_two">
												Уул уурхайн техник эдийн засгийн үндэслэл хийдэг үү?
											</button>
										</div>
										<div id="collapse_two" class="collapse" aria-labelledby="heading_two" data-parent="#faq_accordion">
											<div class="card-body">
												<p class="mb-0">
													Тийм. Манай байгууллага хамгийн сүүлийн үеийн техник технологийн мэдээлэл дээр суурилан туршлагатай мэргэжилтнүүдийн тооцоо судалгаанд үндэслэсэн техник эдийн засгийн үндэслэлийг боловсруулдаг.   
												</p>
											</div>
										</div>
									</div>

									<div class="card">
										<div class="card-header" id="heading_three">
											<button class="collapsed" data-toggle="collapse" data-target="#collapse_three" aria-expanded="false" aria-controls="collapse_three">
												Танай байгууллага голчлон ямар төрлийн судалгаа хийдэг вэ? 
											</button>
										</div>
										<div id="collapse_three" class="collapse" aria-labelledby="heading_three" data-parent="#faq_accordion">
											<div class="card-body">
												<p class="mb-0">
													Манай судлаачид сонгогдсон бүс нутагт очин хөрс, ус, цаг уур гэх мэт бүх төрлийн орчны судалгааг хийдэг.
												</p>
											</div>
										</div>
									</div>

									<div class="card">
										<div class="card-header" id="heading_four">
											<button class="collapsed" data-toggle="collapse" data-target="#collapse_four" aria-expanded="false" aria-controls="collapse_four">
												Судалгааны ажил хийж буй бүсдээ өөр байгууллагуудтай хамтран ажилладаг уу?
											</button>
										</div>
										<div id="collapse_four" class="collapse" aria-labelledby="heading_four" data-parent="#faq_accordion">
											<div class="card-body">
												<p class="mb-0">
													Манай судлаачид өөрсдийн биеэр оноогдсон бүс нутагт очин дээж авах, хөрс, агаар, усны чанар зэрэг бүх төрлийн судалгааг хийхээс гадна орчин программ хангамжийн тусламжтайгаар өндөр нарийвлалтай тооцоог гаргадгаараа онцлогтой.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<!-- faq_section - end
			================================================== -->


			<!-- skill_section - start
			================================================== -->
			<section class="skill_section bg_default_orange clearfix">
				<div class="container-fluid p-0">
					<div class="row no-gutters align-items-center justify-content-lg-between justify-content-md-center justify-content-sm-center">

						<div class="col-lg-6 col-md-7 col-sm-9 col-xs-12 order-last">
							<div class="faq_image wow fadeIn" data-wow-delay=".1s">
								<img src="/images/skills/img_01.jpg" alt="image_not_found">
							</div>
						</div>

						<div class="col-lg-6 col-md-7 col-sm-9 col-xs-12">
							<div class="skill_content_wrap text-white">
								<div class="section_title mb_50 wow fadeInUp2" data-wow-delay=".3s">
									<h4 class="small_title text-white"></h4>
									<h2 class="big_title text-white mb-0">
										Хамтын ажиллагаа
									</h2>
									<span class="biggest_title">Erdenes</span>
								</div>

								<p class="mb-0 wow fadeInUp2" data-wow-delay=".4s">
									Эрдэнэс үндэсний судалгаа үндэсний төвийн цахим оператортой холбогдсоноор<dr>
									бид таны сонирхсон үйлчилгээ, хамтран ажиллах санал болон бусад асуултад<dr>
									түргэн шуурхай хариуг илгээх боломж бүрдэх юм.
								</p>

								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".5s">
										<div class="circle_progress_item">
											<!-- <div class="printing_bar circle_progress">
												<strong class="percentage_text text-white"></strong>
											</div> -->
											<h4 class="item_title text-white">Мэдээллийн аюулгүй байдал</h4>
											<p class="mb-0">
												Таны асуусан асуулт болон тавьсан санал зөвхөн хоёр талын дунд үлдэх болно.
											</p>
										</div>
									</div>

									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".6s">
										<div class="circle_progress_item">
											<!-- <div class="branding_bar circle_progress">
												<strong class="percentage_text text-white"></strong>
											</div> -->
											<h4 class="item_title text-white">Түргэн шуурхай байдал</h4>
											<p class="mb-0">
												Орчин үетэй хөл нийлүүлэн дижитал шилжилт нь хоёр талын үнэт цагийг хэмнэнэ.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<!-- skill_section - end
			================================================== -->


			<!-- testimonial_section - start
			================================================== -->
			<section class="testimonial_section sec_ptb_130 bg_gray clearfix">
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-6 col-md-7 col-sm-9">
							<div class="section_title text-center mb_30 wow fadeInUp2" data-wow-delay=".1s">
								<h4 class="small_title">Erdenes Research and Development Center LLC</h4>
								<h2 class="big_title mb-0">
									ЭРДЭНЭСИЙН ТАЛААР ЭРДЭМТЭД
								</h2>
								<span class="biggest_title">Erdenes</span>
							</div>
						</div>
					</div>

					<div class="testimonial_carousel column_3_carousel owl-carousel owl-theme wow fadeInUp2" data-wow-delay=".3s">
						<div class="item">
							<div class="testimonial_primary">
								<div class="content_wrap">
									<p>
										Ирээдүй болсон залуу инженерүүдийг<br> 
										хөгжих суралцахад дэм болсон энэхүү<br>
										байгууллагын үйл ажиллагааг дэмжин<br>
										хамтран ажиллахад үнэхээрийн таатай<br> 
										байдаг.
									</p>
									<span class="quote_icon">
										<img src="/images/testimonial/quote_01.png" alt="icon_not_found">
									</span>
								</div>
								<div class="hero_info_wrap">
									<div class="hero_thumbnail">
										<img src="/images/testimonial/img_01.png" alt="icon_not_found">
									</div>
									<div class="hero_info">
										<h3 class="hero_name">Р.Мижиддорж</h3>
										<span class="hero_title"></span>
									</div>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="testimonial_primary">
								<div class="content_wrap">
									<p>
										Шинжлэх ухаан хөгжихөд судалгаа<br> 
										шинжилгээ нэн тэргүүнд шаардагдана.<br>
										Хөгжлийн энэ асар их өлсгөлөнг нөхөх<br>
										чадварлаг инженерүүд бэлтгэхэд нь<br>
										ажлын амжилт хүсье.
									</p>
									<span class="quote_icon">
										<img src="/images/testimonial/quote_01.png" alt="icon_not_found">
									</span>
								</div>
								<div class="hero_info_wrap">
									<div class="hero_thumbnail">
										<img src="/images/testimonial/img_01.png" alt="icon_not_found">
									</div>
									<div class="hero_info">
										<h3 class="hero_name">Ц.Эрдэнэцэцэг</h3>
										<span class="hero_title"></span>
									</div>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="testimonial_primary">
								<div class="content_wrap">
									<p>
										Уул уурхай бол Монгол улсын эдийн<br>
										засгийн тэргүүлэх салбар. Үүнийг дагах<br>
										өндөр хэмжээний хариуцлага, ур чадварт<br>
										хүрсэн Эрдэнэсийн чадварлаг залуусдаа<br>
										энэ эрчээ алдахгүй байхыг зөвлөж байна.
									</p>
									<span class="quote_icon">
										<img src="/images/testimonial/quote_01.png" alt="icon_not_found">
									</span>
								</div>
								<div class="hero_info_wrap">
									<div class="hero_thumbnail">
										<img src="/images/testimonial/img_01.png" alt="icon_not_found">
									</div>
									<div class="hero_info">
										<h3 class="hero_name">С.Чулуунхуяг</h3>
										<span class="hero_title"></span>
									</div>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="testimonial_primary">
								<div class="content_wrap">
									<p>
										Нэгэн гэр бүл мэт найрсаг энэ<br>
										байгууллагатай хамтран ажилласан<br> 
										хугацаанд хамт байсан сурах мэдэхийн<br> 
										мөрөөсөл болсон залуусын зам нь<br>
										дардан байх болтугай.<br>										
									</p>
									<span class="quote_icon">
										<img src="/images/testimonial/quote_01.png" alt="icon_not_found">
									</span>
								</div>
								<div class="hero_info_wrap">
									<div class="hero_thumbnail">
										<img src="/images/testimonial/img_01.png" alt="icon_not_found">
									</div>
									<div class="hero_info">
										<h3 class="hero_name">А.Түвдэндорж</h3>
										<span class="hero_title"></span>
									</div>
								</div>
							</div>
						</div>

						<!-- <div class="item">
							<div class="testimonial_primary">
								<div class="content_wrap">
									<p>
										Sed ut perspiciatis unde omnis iste natus 
										error sit voluptatem accusantium doloremq
										ue laudantium totam rem aperiam eaqupsa quae abillo inventore veritatis et quasi arch
										itecto beatae vitae dicta sunt
									</p>
									<span class="quote_icon">
										<img src="/images/testimonial/quote_01.png" alt="icon_not_found">
									</span>
								</div>
								<div class="hero_info_wrap">
									<div class="hero_thumbnail">
										<img src="/images/testimonial/img_02.png" alt="icon_not_found">
									</div>
									<div class="hero_info">
										<h3 class="hero_name">Westover Charles</h3>
										<span class="hero_title">Web designer</span>
									</div>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="testimonial_primary">
								<div class="content_wrap">
									<p>
										Sed ut perspiciatis unde omnis iste natus 
										error sit voluptatem accusantium doloremq
										ue laudantium totam rem aperiam eaqupsa quae abillo inventore veritatis et quasi arch
										itecto beatae vitae dicta sunt
									</p>
									<span class="quote_icon">
										<img src="/images/testimonial/quote_01.png" alt="icon_not_found">
									</span>
								</div>
								<div class="hero_info_wrap">
									<div class="hero_thumbnail">
										<img src="/images/testimonial/img_03.png" alt="icon_not_found">
									</div>
									<div class="hero_info">
										<h3 class="hero_name">Westover Charles</h3>
										<span class="hero_title">Web designer</span>
									</div>
								</div>
							</div>
						</div> -->
					</div>
					
				</div>
			</section>
			<!-- testimonial_section - end
			================================================== -->


		</main>
		<!-- main body - end
		================================================== -->


		<!-- footer_section - start
		================================================== -->
		<footer class="footer_section bg_default_blue text-white clearfix">
			<div class="container">

				<div class="footer_brand_area border_bottom clearfix">
					<div class="row align-items-center justify-content-lg-between">
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<div class="brand_logo">
								<a href="#!">
									<img src="/images/logo/Logo.png" srcset="/images/logo/logo_01_2x.png 2x" alt="logo_not_found">
								</a>
							</div>
						</div>

						<!-- <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
							<div class="brands_list">
								<div class="logo_image">
									<a href="#!">
										<img src="/images/brands/img_05.png" alt="logo_not_found">
									</a>
								</div>

								<div class="logo_image">
									<a href="#!">
										<img src="/images/brands/img_06.png" alt="logo_not_found">
									</a>
								</div>

								<div class="logo_image">
									<a href="#!">
										<img src="/images/brands/img_07.png" alt="logo_not_found">
									</a>
								</div>

								<div class="logo_image">
									<a href="#!">
										<img src="/images/brands/img_08.png" alt="logo_not_found">
									</a>
								</div>
							</div>
						</div> -->
					</div>
				</div>

				<div class="footer_widget_area clearfix">
					<div class="row justify-content-lg-between justify-content-md-center justify-content-sm-center">
						<div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
							<div class="widget footer_useful_links">
								<h3 class="footer_widget_title">Холбоосууд</h3>
								<ul class="ul_li_block clearfix">
									<li><a href="#!">Нүүр</a></li>
									<li><a href="#!">Бидний тухай</a></li>
									<li><a href="#!">Үйлчилгээ</a></li>
									<li><a href="#!">Мэдээ мэдээлэл</a></li>
									<li><a href="#!">Холбоо барих</a></li>
								</ul>
							</div>
						</div>

						<div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
							<div class="widget footer_useful_links">
								<h3 class="footer_widget_title">Үйлчилгээ</h3>
								<ul class="ul_li_block clearfix">
									<li><a href="#!">Эрдэм шинжилгээ</a></li>
									<li><a href="#!">Бизнесийн зөвлөгөө</a></li>
									<li><a href="#!">Ордын ТЭЗҮ</a></li>
									<li><a href="#!">Ашиглалтын аудит</a></li>
									<li><a href="#!">Эрсдлийн шинжилгээ</a></li>
								</ul>
							</div>
						</div>

						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<div class="widget recent_works_list">
								<h3 class="footer_widget_title">Онцлох мэдээ</h3>
								<ul class="ul_li_block clearfix">
									<li>
										<div class="small_blog clearfix">
											<a class="item_image" target="_blank" href="#!.html">
												<img src="/images/recent_works/img_01.png" alt="image_not_found">
											</a>
											<div class="item_content">
												<h3 class="item_title">
													<a target="_blank" href="#!.html">
														Судлаач А.Түвдэндорж төрийн дээд одон Алтангадас хүртлээ
													</a>
												</h3>
												<span class="post_date"><i class="far fa-calendar-alt"></i> 9 May 2021</span>
											</div>
										</div>
									</li>

									<li>
										<div class="small_blog clearfix">
											<a class="item_image" target="_blank" href="#!.html">
												<img src="/images/recent_works/img_02.png" alt="image_not_found">
											</a>
											<div class="item_content">
												<h3 class="item_title">
													<a target="_blank" href="#!.html">
														Эрдэнэт хотын геоэкологи, гидрогеологийн сэдэвчилсэн судалгаа
													</a>
												</h3>
												<span class="post_date"><i class="far fa-calendar-alt"></i> 09 Jun 2021</span>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>

						<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
							<div class="widget footer_contact_form">
								<h3 class="footer_widget_title">Холбоо барих</h3>
								<p class="mb_30">
									Эрдэнэс үндэсний судалгаа хөгжлийн төвөөс гаргаж буй мэдээг цаг алдалгүй хүлээн авахыг хүсвэл:
								</p>
								<form action="#">
									<div class="form_item">
										<input type="email" name="email" placeholder="Enter Your Email">
										<button type="submit" class="submit_btn"><i class="far fa-arrow-right"></i></button>
									</div>
								</form>
								<span class="footer_hotline"><i class="far fa-phone"></i>99688292</span>
							</div>
						</div>
					</div>
				</div>

				<div class="footer_bottom_boxed clearfix">
					<div class="row align-items-center justify-content-lg-between justify-content-md-between">
						<div class="col-lg-6 col-md-6">
							<p class="copyright_text mb-0">© Copyright 2021 All Right Reserved Design By <a class="author_links" target="_blank" href="https://uizhen.tech">Uizhen Tech</a></p>
						</div>

						<div class="col-lg-6 col-md-6">
							<ul class="circle_social_links ul_li_right clearfix">
								<li>
									<a class="bg_facebook" href="#!">
										<i class="fab fa-facebook-f"></i>
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a class="bg_twitter" href="#!">
										<i class="fab fa-twitter"></i>
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a class="bg_youtube" href="#!">
										<i class="fab fa-youtube"></i>
										<i class="fab fa-youtube"></i>
									</a>
								</li>
								<li>
									<a class="bg_linkedin" href="#!">
										<i class="fab fa-linkedin"></i>
										<i class="fab fa-linkedin"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
			</div>
		</footer>
		<!-- footer_section - end
		================================================== -->

		
		<!-- fraimwork - jquery include -->
		<script src="/js/jquery-3.5.1.min.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>

		<!-- carousel - jquery include -->
        <script src="/js/owl.carousel.min.js"></script>

		<!-- mobile menu - jquery include -->
        <script src="/js/mCustomScrollbar.js"></script>

		<!-- google map - jquery include -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk2HrmqE4sWSei0XdKGbOMOHN3Mm2Bf-M&ver=2.1.6"></script>
        <script src="/js/gmaps.min.js"></script>

		<!-- nice select - jquery include -->
        <script src="/js/nice-select.min.js"></script>

		<!-- circle progress - jquery include -->
        <script src="/js/circle-progress.min.js"></script>

		<!-- magnific popup - jquery include -->
        <script src="/js/magnific-popup.min.js"></script>

        <!-- filter & masonry js -->
		<script src="/js/isotope.pkgd.js"></script>
		<script src="/js/imagesloaded.pkgd.min.js"></script>
		<script src="/js/masonry.pkgd.min.js"></script>

		<!-- counter - jquery include -->
		<script src="/js/countto.js"></script>

		<!-- pricing range - jquery include -->
		<script src="/js/jquery-ui.js"></script>

		<!-- animation - jquery include -->
		<script src="/js/parallax.min.js"></script>
		<script src="/js/wow.min.js"></script>

		<!-- custom - jquery include -->
		<script src="/js/custom.js"></script>

		
	</body>
</html>