<!DOCTYPE html>
<html lang="en">

	<%- include('../includes/head.ejs') %>


	<body>


		<!-- backtotop - start -->
		<%- include('../includes/navigation.ejs') %>
		<!-- header_section - end
		================================================== -->


		<!-- main body - start
		================================================== -->
		<main>


			<!-- sidebar mobile menu - start
			================================================== -->
            <%- include('../includes/mobilenav.ejs') %>
			<!-- sidebar mobile menu - end
			================================================== -->


			<!-- breadcrumb_section - start
			================================================== -->
			<section class="breadcrumb_section d-flex align-items-center clearfix" data-background="/images/breadcrumb/bg_01.jpg">
				<div class="container">
					<div class="row align-items-center justify-content-lg-between">
						<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-delay=".1s">
							<h1 class="page_title mb-0">ҮЙЛЧИЛГЭЭ</h1>
						</div>

						<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay=".1s">
							<ul class="breadcrumb_nav ul_li_right clearfix">
								<li><a href="index.html">НҮҮР</a></li>
								<li>ҮЙЛЧИЛГЭЭ</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- breadcrumb_section - end
			================================================== -->


			<!-- feature_section - start
			================================================== -->
			<section class="feature_section sec_ptb_130 clearfix">
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-8 col-sm-9">
							<div class="section_title text-center mb_50 wow fadeInUp2" data-wow-delay=".1s">
								<h4 class="small_title">Erdenes National Research and Development Center</h4>
								<h2 class="big_title mb-0">
									ЭРДЭНЭС САНАЛ БОЛГОЖ БАЙНА
								</h2>
								<span class="biggest_title">Erdenes</span>
							</div>
						</div>
					</div>

					<div class="row justify-content-center">
						<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".3s">
							<div class="feature_card">
								<a class="item_image plus_effect" target="_blank" href="service_details.html">
									<img src="/images/feature/img_02.png" alt="image_not_found">
								</a>
								<div class="item_content">
									<span class="item_type"></span>
									<h3 class="item_title">ЧАДВАРЛАГ ИНЖЕНЕРҮҮД</h3>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".5s">
							<div class="feature_card">
								<a class="item_image plus_effect" target="_blank" href="service_details.html">
									<img src="/images/feature/img_03.png" alt="image_not_found">
								</a>
								<div class="item_content">
									<span class="item_type"></span>
									<h3 class="item_title">ШИНЭЛЭГ <br> ТЕХНОЛОГИ</h3>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".7s">
							<div class="feature_card">
								<a class="item_image plus_effect" target="_blank" href="service_details.html">
									<img src="/images/feature/img_04.png" alt="image_not_found">
								</a>
								<div class="item_content">
									<span class="item_type"></span>
									<h3 class="item_title">ДИЖИТАЛ <br> ШИЛЖИЛТ</h3>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</section>
			<!-- feature_section - end
			================================================== -->


			<!-- service_section - start
			================================================== -->
			<section class="service_section sec_ptb_130 bg_gray clearfix">
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-8 col-md-8 col-sm-10">
							<div class="section_title text-center mb_50 wow fadeInUp2" data-wow-delay=".1s">
								<h4 class="small_title">Erdenes National Research and Development Center</h4>
								<h2 class="big_title mb-0">
									ОНЦЛОХ ҮЙЛЧИЛГЭЭ
								</h2>
								<span class="biggest_title">Erdenes</span>
							</div>
						</div>
					</div>

					<div class="row justify-content-center">
						<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
							<div class="service_listlayout_boxed wow fadeInUp2 clearfix" data-wow-delay=".3s">
								<div class="item_image">
									<img src="/images/services/img_06.png" alt="image_not_found">
								</div>
								<div class="item_content">
									<h3 class="item_title">Эрдэм шинжилгээ</h3>
									<p>
										Монгол судлаачдын хийсэн ажлыг дэлхийд гаргах, олон улсын сургууль судалгааны байгууллагуудтай холбогдох гүүр болох
									</p>
									<a class="text_btn" target="_blank" href="#!.html"><span>Цааш үзэх</span> <i class="far fa-arrow-right"></i></a>
								</div>
							</div>

							<div class="service_listlayout_boxed wow fadeInUp2 clearfix" data-wow-delay=".5s">
								<div class="item_image">
									<img src="/images/services/img_07.png" alt="image_not_found">
								</div>
								<div class="item_content">
									<h3 class="item_title">Бизнесийн зөвлөгөө</h3>
									<p>
										Хувьцаа худалдан авах, лиценз шилжүүлэх болон хамтарсан хөрөнгө оруулалтын талаар байгуулах гэрээ хэлэлцээрийн төслийг боловсруулах, гэрээний төсөл
									</p>
									<a class="text_btn" target="_blank" href="#!.html"><span>Цааш үзэх</span> <i class="far fa-arrow-right"></i></a>
								</div>
							</div>

							<div class="service_listlayout_boxed wow fadeInUp2 clearfix" data-wow-delay=".7s">
								<div class="item_image">
									<img src="/images/services/img_08.png" alt="image_not_found">
								</div>
								<div class="item_content">
									<h3 class="item_title">Ордын ТЭЗҮ</h3>
									<p>
										Ордын хайгуул судалгаа, ашиглалт, баяжуулалт, эдийн засгийн тооцоо судалгааг хийх баримт бичгийг боловсруулах.
									</p>
									<a class="text_btn" target="_blank" href="#!.html"><span>Цааш үзэх</span> <i class="far fa-arrow-right"></i></a>
								</div>
							</div>
						</div>

						<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
							<div class="service_listlayout_boxed wow fadeInUp2 clearfix" data-wow-delay=".3s">
								<div class="item_image">
									<img src="/images/services/img_09.png" alt="image_not_found">
								</div>
								<div class="item_content">
									<h3 class="item_title">Ашиглалтын Аудит</h3>
									<p>
										Уурхайн ашиглалтын үеийн шалгалт, хяналтыг хийн тооцоо судалгааг гаргах.
									</p>
									<a class="text_btn" target="_blank" href="#!.html"><span>Цааш үзэх</span> <i class="far fa-arrow-right"></i></a>
								</div>
							</div>

							<div class="service_listlayout_boxed wow fadeInUp2 clearfix" data-wow-delay=".5s">
								<div class="item_image">
									<img src="/images/services/img_10.png" alt="image_not_found">
								</div>
								<div class="item_content">
									<h3 class="item_title">Геомеханикийн лабораторийн үйлчилгээ</h3>
									<p>
										Судалгааны шинжилгээний ажил хийх, туршилт хийх боломж нөхцлөөр хангах.
									</p>
									<a class="text_btn" target="_blank" href="#!.html"><span>Цааш үзэх</span> <i class="far fa-arrow-right"></i></a>
								</div>
							</div>

							<div class="service_listlayout_boxed wow fadeInUp2 clearfix" data-wow-delay=".7s">
								<div class="item_image">
									<img src="/images/services/img_11.png" alt="image_not_found">
								</div>
								<div class="item_content">
									<h3 class="item_title">Эрсдлийн шинжилгээ</h3>
									<p>
										Захиалагчид хууль эрх зүйн орчны мэдээллийг олгон эхлүүлж буй ажилд саад болох болон тулгарч болохуйц эрсдлүүдийг гарган зайлсхийх судалгааг хийнэ.
									</p>
									<a class="text_btn" target="_blank" href="#!.html"><span>Цааш үзэх</span> <i class="far fa-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</section>
			<!-- service_section - end
			================================================== -->


			<!-- cta_section - start
			================================================== -->
			<section class="cta_section sec_ptb_130 bg_default_orange clearfix">
				<div class="container">
					<div class="row align-items-center justify-content-lg-between justify-content-md-center justify-content-sm-center">

						<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 order-last">
							<div class="cta_image_1 wow fadeInUp2" data-wow-delay=".1s">
								<img src="/images/cta/img_01.png" alt="image_not_found">
							</div>
						</div>

						<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
							<div class="cta_content text-white">
								<div class="section_title mb_30 wow fadeInUp2" data-wow-delay=".3s">
									<h4 class="small_title text-white">Erdenes National Research and Development Center</h4>
									<h2 class="big_title mb-0 text-white">
										Хөгжил дэвшилтэй хөл нийлүүлэн алхах нь бидний уриа
									</h2>
									<span class="biggest_title">Erdenes</span>
								</div>
								<p class="mb_30 border_left_yellow text-white wow fadeInUp2" data-wow-delay=".4s">
									Чанартай ажлыг хийж гүйцэтгэх гоё түлхүүр нь чадварлаг хамт олон юм.
								</p>
								<a class="custom_btn bg_white wow fadeInUp2" data-wow-delay=".5s" target="_blank" href="#!.html">
									Эрдэнэсийн судлаачид 
									<span><i class="fal fa-arrow-right"></i></span>
								</a>
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<!-- cta_section - end
			================================================== -->


			<!-- testimonial_section - start
			================================================== -->
			<section class="testimonial_section sec_ptb_130 bg_gray clearfix">
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-6 col-md-7 col-sm-9">
							<div class="section_title text-center mb_30 wow fadeInUp2" data-wow-delay=".1s">
								<h4 class="small_title">Erdenes National Research and Development Center</h4>
								<h2 class="big_title mb-0">
									МАНАЙ МЭРГЭЖИЛТНҮҮД
								</h2>
								<span class="biggest_title">Erdenes</span>
							</div>
						</div>
					</div>

					<div class="testimonial_carousel column_3_carousel owl-carousel owl-theme wow fadeInUp2" data-wow-delay=".3s">
						<div class="item">
							<div class="testimonial_primary">
								<div class="content_wrap">
									<p>
										Гидрогеологич инженер нь байгаль орчны 
										багийн ажилд мэргэжлийн дэмжлэг үзүүлэх, төслийн 
										усны нөөцийг үнэлэх, тайлан мэдээ бэлтгэх, усны 
										хяналт шинжилгээний хөтөлбөрийг удирдан зохион 
										байгуулах үүргийг хүлээн ажиллана.
									</p>
									<span class="quote_icon">
										<img src="/images/testimonial/quote_01.png" alt="icon_not_found">
									</span>
								</div>
								<div class="hero_info_wrap">
									<div class="hero_thumbnail">
										<img src="/images/testimonial/img_01.png" alt="icon_not_found">
									</div>
									<div class="hero_info">
										<h3 class="hero_name">Д.Энхмаа</h3>
										<span class="hero_title">Гидрогеологич</span>
									</div>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="testimonial_primary">
								<div class="content_wrap">
									<p>
										Энэ мэргэжлийн онцлог нь өдөр бүр шинэ зүйлтэй 
										учирна. Учир байгалийн баялгийг олборлоход үргэлж 
										харилцан адилгүй тогтоц, бүтэцтэй байх учир ийнхүү 
										өдөр бүр “өөр” зүйлстэй учирна.
									</p>
									<span class="quote_icon">
										<img src="/images/testimonial/quote_01.png" alt="icon_not_found">
									</span>
								</div>
								<div class="hero_info_wrap">
									<div class="hero_thumbnail">
										<img src="/images/testimonial/img_01.png" alt="icon_not_found">
									</div>
									<div class="hero_info">
										<h3 class="hero_name">С.Дэлгэрсанаа</h3>
										<span class="hero_title">Геологич</span>
									</div>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="testimonial_primary">
								<div class="content_wrap">
									<p>
										Геохимич мэргэжил нь байгалийн шинжлэх ухаанд харъяалагдах 
										бөгөөд геологи, хими хоёрыг нэгтгэсэн өнгөрөгч зууны 
										шинэ салбар юм. Бусад мэргэжлээс юугаараа онцлогтой вэ гэхээр
										химийн шинжлэх ухааныг геологич мэргэжилтэй нягт холбон 
										ажилладагт оршдог гэж хэлнэ.
									</p>
									<span class="quote_icon">
										<img src="/images/testimonial/quote_01.png" alt="icon_not_found">
									</span>
								</div>
								<div class="hero_info_wrap">
									<div class="hero_thumbnail">
										<img src="/images/testimonial/img_01.png" alt="icon_not_found">
									</div>
									<div class="hero_info">
										<h3 class="hero_name">Ц.Эрдэнэцэцэг</h3>
										<span class="hero_title">Гео-Химич</span>
									</div>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="testimonial_primary">
								<div class="content_wrap">
									<p>
										Хорин нэгдүгээр зуун гарснаар техник технологи тэр дундаа 
										программ хангамжийн салбар эрчимтэй хөгжиж эхэлсэнтэй холбогдуулан
										олон мэргэжлийн салбарт шинэчлэлт хийгдэн орчин үетэй хөл нийлүүлэн
										алхах болсон. Энэ өрсөлдөөнөөс хоцрохгүй үргэлж шинийг эрэлхийлэн 
										ажиллах нь миний зорилго. 
									</p>
									<span class="quote_icon">
										<img src="/images/testimonial/quote_01.png" alt="icon_not_found">
									</span>
								</div>
								<div class="hero_info_wrap">
									<div class="hero_thumbnail">
										<img src="/images/testimonial/img_01.png" alt="icon_not_found">
									</div>
									<div class="hero_info">
										<h3 class="hero_name">Б.Ариунзаяа</h3>
										<span class="hero_title">GIS Инженер</span>
									</div>
								</div>
							</div>
						</div>

						<!-- <div class="item">
							<div class="testimonial_primary">
								<div class="content_wrap">
									<p>
										Sed ut perspiciatis unde omnis iste natus 
										error sit voluptatem accusantium doloremq
										ue laudantium totam rem aperiam eaqupsa quae abillo inventore veritatis et quasi arch
										itecto beatae vitae dicta sunt
									</p>
									<span class="quote_icon">
										<img src="/images/testimonial/quote_01.png" alt="icon_not_found">
									</span>
								</div>
								<div class="hero_info_wrap">
									<div class="hero_thumbnail">
										<img src="/images/testimonial/img_02.png" alt="icon_not_found">
									</div>
									<div class="hero_info">
										<h3 class="hero_name">Westover Charles</h3>
										<span class="hero_title">Web designer</span>
									</div>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="testimonial_primary">
								<div class="content_wrap">
									<p>
										Sed ut perspiciatis unde omnis iste natus 
										error sit voluptatem accusantium doloremq
										ue laudantium totam rem aperiam eaqupsa quae abillo inventore veritatis et quasi arch
										itecto beatae vitae dicta sunt
									</p>
									<span class="quote_icon">
										<img src="/images/testimonial/quote_01.png" alt="icon_not_found">
									</span>
								</div>
								<div class="hero_info_wrap">
									<div class="hero_thumbnail">
										<img src="/images/testimonial/img_03.png" alt="icon_not_found">
									</div>
									<div class="hero_info">
										<h3 class="hero_name">Westover Charles</h3>
										<span class="hero_title">Web designer</span>
									</div>
								</div>
							</div>
						</div>
					</div> -->
					
				</div>
			</section>
			<!-- testimonial_section - end
			================================================== -->


		</main>
		<!-- main body - end
		================================================== -->


		<!-- footer_section - start
		================================================== -->
        <%- include('../includes/end.ejs') %>
		<!-- footer_section - end
		================================================== -->

		
		<!-- fraimwork - jquery include -->
		<script src="/js/jquery-3.5.1.min.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>

		<!-- carousel - jquery include -->
        <script src="/js/owl.carousel.min.js"></script>

		<!-- mobile menu - jquery include -->
        <script src="/js/mCustomScrollbar.js"></script>

		<!-- google map - jquery include -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk2HrmqE4sWSei0XdKGbOMOHN3Mm2Bf-M&ver=2.1.6"></script>
        <script src="/js/gmaps.min.js"></script>

		<!-- nice select - jquery include -->
        <script src="/js/nice-select.min.js"></script>

		<!-- circle progress - jquery include -->
        <script src="/js/circle-progress.min.js"></script>

		<!-- magnific popup - jquery include -->
        <script src="/js/magnific-popup.min.js"></script>

        <!-- filter & masonry js -->
		<script src="/js/isotope.pkgd.js"></script>
		<script src="/js/imagesloaded.pkgd.min.js"></script>
		<script src="/js/masonry.pkgd.min.js"></script>

		<!-- counter - jquery include -->
		<script src="/js/countto.js"></script>

		<!-- pricing range - jquery include -->
		<script src="/js/jquery-ui.js"></script>

		<!-- animation - jquery include -->
		<script src="/js/parallax.min.js"></script>
		<script src="/js/wow.min.js"></script>

		<!-- custom - jquery include -->
		<script src="/js/custom.js"></script>

		
	</body>
</html>